html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
    }
    ::-webkit-scrollbar {
    width: 7px;
    }
    {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    }
    ::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
    }
    ::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border border-warning-radius: 6px;
    border border-warning: 3px solid var(--scrollbarBG);
    }
    body {
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    background: url(/static/Additional_assets/news_monitoring/images/background_gradient.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
    }
    .card{
    border-radius: 0px!important;

    background: rgb(74,103,121);
    background: linear-gradient(90deg, rgba(74,103,121,1) 67%, rgba(128,138,173,1) 100%, rgba(0,212,255,1) 100%);
    }
    .card-header{
    background: rgb(74,103,121);
    background: linear-gradient(90deg, rgba(74,103,121,1) 67%, rgba(128,138,173,1) 100%, rgba(0,212,255,1) 100%);
    }
    .header{
    border:1px solid black ;
    height: auto;
    background: rgb(74,103,121);
    background: linear-gradient(90deg, rgba(74,103,121,1) 67%, rgba(128,138,173,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-clip-path: polygon(0% 15%, 7% 15%, 7% 0, 93% 0, 93% 15%, 100% 15%, 100% 85%, 93% 85%, 93% 100%, 7% 100%, 7% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 7% 15%, 7% 0, 93% 0, 93% 15%, 100% 15%, 100% 85%, 93% 85%, 93% 100%, 7% 100%, 7% 85%, 0% 85%);
    }
    .footer{
    border:1px solid black ;
    height: auto;
    background: rgb(74,103,121);
    background: linear-gradient(90deg, rgba(74,103,121,1) 67%, rgba(128,138,173,1) 100%, rgba(0,212,255,1) 100%);
    -webkit-clip-path: polygon(0% 15%, 7% 15%, 7% 0, 93% 0, 93% 15%, 100% 15%, 100% 85%, 93% 85%, 93% 100%, 7% 100%, 7% 85%, 0% 85%);
    clip-path: polygon(0% 15%, 7% 15%, 7% 0, 93% 0, 93% 15%, 100% 15%, 100% 85%, 93% 85%, 93% 100%, 7% 100%, 7% 85%, 0% 85%);
    }
    .card-body{
    height: 300px;
    overflow-y:auto;
    }
    .wrapper_1{
    height: 40px;
    border:1px solid black;
    width: 100%;
    border-radius: 2px;
    background: rgb(81,111,130);
    background: linear-gradient(90deg, rgba(81,111,130,1) 19%, rgba(128,138,173,1) 29%, rgba(255,255,255,1) 86%);
    }
    .wrapper_2{
    height: 50px;
    border:1px solid black;
    width: 100%;
    border-radius: 5px;
    /* background: rgb(81,111,130);
    background: linear-gradient(90deg, rgba(81,111,130,1) 19%, rgba(128,138,173,1) 29%, rgba(255,255,255,1) 86%); */
    }
    .line{
    border:1px solid black;
    width: 99%;
    }
    .card-rows{
    }