{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
  <link rel="stylesheet" href="{% static 'Portfolio_Management_System/css/tso_link.css' %}" />
{% endblock %}
{% block smallnavbar %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
      <div class="row border second_nav_row">
        <div class="col-md-3 m-0 p-0  "><a
        class="btn border-right  nav-link  second_nav_btn w-100 h-100 text-white" href="/pms/create">Create</a></div>
        <div class="col-md-3 border-top m-0 p-0  "><a
        class="btn  border-right border-top nav-link  second_nav_btn w-100 h-100 text-white" href="/pms/overview">Overview</a>
      </div>
      <div class="col-md-3  border-top m-0 p-0  "><a
      class="btn  border-right border-top nav-link  second_nav_btn w-100 h-100 text-white" href="/pms/link">Link </a></div>
      <div class="col-md-3 m-0 p-0  "><a
      class="btn   nav-link  second_nav_btn w-100 h-100 text-white active" href="/pms/archive">Archive</a></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
{% endblock %}
{% block belly %}
<style>
.custom_label {
border: 1px solid white;
border-radius: 0px;
background: transparent !important;
padding-left: 5px;
border-radius: 5px;
}
.input_text {
width: 200px;
font-size: 12px;
letter-spacing: 4px;
font-weight: bold;
color: white;
}
input {
background-color: transparent !important;
border-radius: 10px 5px 5px 10px !important;
color: white !important;
}
.radio_btns {
height: 60px;
width: 160px;
background: transparent;
border: 1px solid white;
color:white;
background: linear-gradient(to right, #283e51, #1cb5e0);
}
.custom_pills{
/*background: linear-gradient(to right, #283e51, #1cb5e0);*/
background: linear-gradient(
90deg,
rgba(0, 113, 188, 20%) 0%,
rgba(65, 130, 173, 29%) 50%,
rgba(0, 0, 0, 40%) 100%
);
text-align: center;
}
.custom_pills a{
text-decoration: none;;
font-weight: bolder;
}
#submit{
background: rgb(24, 72, 116);
background: linear-gradient(
93deg,
rgba(24, 72, 116, 1) 0%,
rgba(6, 17, 26, 1) 100%
);
}
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12  ">
      <div class="w-100 h-100 " id="content_div">
        <div class="card-header  main_card_header m-0 p-0 ">
          <p class="card_header_text">Add Information</p>
        </div>
        <div class="card-body ">
          <div class="row card_row glowing_border">
            <div class="col-md-12 m-0 p-0 ">
              
              
              
              
              <div class="container-fluid">
                <ul class="nav nav-pills row">
                  
                  <li class="custom_pills btn active col-md-3 border-dark" style="border-radius: 10px 0px 0px 0px;"><a class="text-white "data-toggle="pill" href="#social">Add Social Targets </a></li>
                  <li class="custom_pills btn col-md-3 border-dark"><a class="text-white "data-toggle="pill" href="#adresses">Add Addresses </a></li>
                  <li class="custom_pills btn col-md-3 border-dark"><a class="text-white "data-toggle="pill" href="#description">Add Description</a></li>
                  <li class="custom_pills btn col-md-3 border-dark" ><a class="text-white "data-toggle="pill" href="#phones">Add Phones</a></li>
                  {% comment %}
                  <li class="custom_pills btn col-md-2 border-dark" style="border-radius: 0px 10px 0px 0px;"><a class="text-white "data-toggle="pill" href="#visuals">Add Visuals</a></li>
                {% endcomment%}
                
              </ul>
              <!-- START OF TAB CONTENT DIV  -->
              <div class="tab-content">
                <!-- START SOCIAL TAB -->
                <div id="social" class="tab-pane fade in active show ">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 m-0 p-0">
                        <form name="portfolio_create_form" id="portfolio_create_form" action="{% url 'Portfolio_Management_System:add_information' %}" method="POST">
                          {% csrf_token %}
                          <div class="card-body m-0 p-0 ">
                            <div class="row  ">
                              
                              <div class="col-md-12  m-0 mt-4 p-0">
                                <!-- <span class="float-left glowing_border text-white btn-sm newlabeldesign">
                                  <i class="far fa-address-card mr-2"></i>   All Social Targets
                                </span> -->
                         
                         {% comment %}
                                <a  href="{% url 'Target_Management_System:tms_marktarget_portfolio' portfolio_id %}" type="button" class="glowing_border addbutton float-right  btn-sm btn-success mr-2" id="submit">
                                  {% endcomment %}
                                  <i class="fas fa-plus mr-2"></i>ADD
                                </a>
                              </div>
                              
                            </div>
                          </div>
                          <input type="hidden" value="address" id="form_name" name="extra_type" />
                          <input type="hidden" value="{{ portfolio_id }}" id="form_name" name="portfolio_id" />
                          <div class="row input_wrapper_row">
                            <div class="col-md-6"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="row p-2"style="width: 100% !important; height:500px;overflow-y:auto;">
                        {% for target in social_targets %}
                          <div class="col-md-4">
                            <!-- inside CaRD DIV-->
                            <div class="row mr-2">
                              <div class="col-md-2  glowing_border d-flex flex-column justify-content-between align-items-center" style="border-radius:15px 0px 0px 15px;">
                                <span class="rotate custom_label glowing_border" role="button" style="font-size:11px; margin-top: auto; margin-bottom: auto;">
                                  <i class="fa fa-user text-white mr-2">{{ target.username }}</i>
                                </span>
                                <button type="button" class="btn btn-primary btn_link custom_icons" id="btn_link" data-id="" data-toggle="" data-target="#">
                                <i class="fa fa-trash"></i>
                                </button>
                              </div>
                              <!-- Div Right part-->
                              <div class="col-md-10 glowing_border d-flex flex-row justify-content-start align-items-center" style="overflow-y: auto; height: 180px; border-radius:0px 15px 15px 0px;">

                                  <ul>
                                      <li style="font-size:12px;" class="text-white ">{{ target.name }}</li>
                                      <li style="font-size:12px;" class="text-white ">{{ target.created_on }}</li>
                                      <li style="font-size:12px;" class="text-white ">{{ target.user_id }}</li>
                                      <li style="font-size:12px;" class="text-white ">{{ target.target_type }}</li>
                                      <li style="font-size:12px;" class="text-white ">{{ target.is_expired }}</li>
                                      <li style="font-size:12px;" class="text-white ">{{ target.GTR.website.name }}</li>
                                  </ul>


                              </div>
                            </div>

                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END SOCIAL TAB -->
                
                
                
                <!-- START ADDRESES TAB -->
                <div id="adresses" class="tab-pane fade ">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 m-0 p-0">
                        
                        <div class="card-body m-0 p-0 main_card">
                          <div class="row">
                            <form name="portfolio_create_form" id="portfolio_create_form" class="w-100" action="{% url 'Portfolio_Management_System:add_information' %}" method="POST">
                              {% csrf_token %}
                              <div class="row">
                                <div class="col-md-8">
                                  <div class="">
                                    <label class="d-flex p-0 m-0 flex-row justify-content-start align-items-center" for="addresses">
                                      <span class="newlabeldesign glowing_border">Adresses</span>
                                      <input type="text" class="w-50 newinputdesign glowing_border" required="required"  id="author_id"
                                      name="prime_value" />
                                    </label>
                                  </div>
                                </div>
                                <div class="col-md-2"></div>
                                <div class="col-md-2" style="margin: auto;">
                                  <div class="">
                                    <input type="hidden" value="address" id="form_name" name="extra_type" />
                                    <input type="hidden" value="{{ portfolio_id }}" id="form_name" name="portfolio_id" />
                                    <div class="row input_wrapper_row">
                                      <div class="col-md-12">
                                        <input type="submit" class="btn glowing_border font-weight-bold btn-sm w-100  text-white" value="Add" name="submit" id="submit">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="row p-2" >
                          {% for address in addresses %}
                            <div class="col-md-4">
                              <!-- inside CaRD DIV-->
                              <div class="row mr-2">
                                <div class="col-md-2  glowing_border d-flex flex-column justify-content-between align-items-center" style="border-radius:15px 0px 0px 15px;">
                                  <span class="rotate custom_label glowing_border" role="button" style="font-size:11px; margin-top: auto; margin-bottom: auto;">
                                    <i class="fa fa-user text-white mr-2">Target Address</i>
                                  </span>
                                  <button type="button" class="btn btn-primary btn_link custom_icons" id="btn_link" data-id="5eb8742a31cbda0214058eff" data-toggle="modal" data-target="#linkto_portfolio">
                                  <i class="fa fa-trash"></i>
                                  </button>
                                </div>
                                <!-- Div Right part-->
                                <div class="col-md-10 glowing_border d-flex flex-row justify-content-start align-items-center" style="overflow-y: auto; height: 180px; border-radius:0px 15px 15px 0px;">
                                  <span style="font-size:12px;" class="text-white ">  {{ address }}</span>
                                </div>
                              </div>
                              
                              
                            </div>
                          {% endfor %}
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END ADDRESSES TAB -->
                
                <!-- START DESCRIPTION TABS  -->
                <div id="description" class="tab-pane fade">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <form name="portfolio_create_form" name="add_description_form" id="add_description_form" action="{% url 'Portfolio_Management_System:add_information' %}" method="POST">
                          {% csrf_token %}
                          <input type="hidden" value= "add_description_form"name="form_name" id="form_name" value="form_name"/>
                          
                          <div class="row">
                            <div class="col-md-8">
                              <div class="">
                                <label class="d-flex p-0 m-0 flex-row justify-content-start align-items-center" for="addresses">
                                  <span class="newlabeldesign glowing_border">Title</span>
                                  <input type="text" class="w-100 newinputdesign glowing_border" required="required"  id="author_id"
                                  name="title" />
                                </label>
                              </div>
                              <div class="mb-2">
                                <label class="d-flex p-0 m-0 flex-row justify-content-start align-items-center" for="addresses">
                                  <span class="newlabeldesign glowing_border">Description</span>
                                  <textarea type="text" class="newinputdesign glowing_border w-100" id="description_value"
                                  name="prime_value" rows="2" required="required"></textarea>
                                </label>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2" style="margin: auto;">
                              <div class="">
                                <input type="hidden" value="description" id="form_name" name="extra_type" />
                                <input type="hidden" value="{{ portfolio_id }}" id="form_name" name="portfolio_id" />
                                <div class="row input_wrapper_row">
                                  <div class="col-md-12">
                                    <input type="submit" class="btn glowing_border font-weight-bold btn-sm w-100  text-white" value="Add" name="submit" id="submit">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                        <div class="row p-2">
                          {% for description in descriptions %}
                            <div class="col-md-4">
                              <!-- inside CaRD DIV-->
                              <div class="row mr-2">
                                <div class="col-md-2  glowing_border d-flex flex-column justify-content-between align-items-center" style="border-radius:15px 0px 0px 15px;">
                                  <span class="rotate custom_label glowing_border" role="button" style="font-size:14px; margin-top: auto; margin-bottom: auto;">
                                    <i class="fa fa-user text-white mr-2">Description</i>
                                  </span>
                                  <button type="button" class="btn btn-primary btn_link custom_icons" id="btn_link" data-id="5eb8742a31cbda0214058eff" data-toggle="modal" data-target="#linkto_portfolio">
                                  <i class="fa fa-trash"></i>
                                  </button>
                                </div>
                                <!-- Div Right part-->
                                <div class="col-md-10 glowing_border d-flex flex-column justify-content-center align-items-start" style="overflow-y: auto; height: 180px; border-radius:0px 15px 15px 0px;">
                                  <div style="font-size:12px;" class="text-white "> Title: {{ description.title }}</div>
                                  <div style="font-size:12px;" class="text-white ">  Description : {{ description.description }}</div>
                                  
                                </div>
                              </div>
                            </div>
                            
                            
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END DESCRIPTION TABS  -->
                
                <!-- START PHONES TAB -->
                <div id="phones" class="tab-pane fade">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 m-0 p-0">
                        <div class="card-body m-0 p-0 main_card">
                          <div class="row">
                            <form name="portfolio_create_form" id="portfolio_create_form" class="w-100" action="{% url 'Portfolio_Management_System:add_information' %}" method="POST">
                              {% csrf_token %}
                              
                              <div class="row">
                                <div class="col-md-8">
                                <div class="">
                                  <label class="d-flex p-0 m-0 flex-row justify-content-start align-items-center" for="phone">
                                    <span class="newlabeldesign glowing_border">  Phone</span>
                                    <input type="text" class="w-50 newinputdesign glowing_border" id="author_id"
                                    name="prime_value"  required=""/>
                                  </label>
                                </div>
                              </div>
                              <div class="col-md-2"></div>
                              <div class="col-md-2" style="margin: auto;">
                                <div class="">
                                  <input type="hidden" value="phones" id="form_name" name="extra_type" />
                                  <input type="hidden" value="{{ portfolio_id }}" id="form_name" name="portfolio_id" />
                                  <div class="row input_wrapper_row">
                                    <div class="col-md-12">
                                      <input type="submit" class="btn glowing_border font-weight-bold btn-sm w-100  text-white glowing_border" value="Add" name="submit" id="submit">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              </div>
                              
                            </form>
                            <div class="col-md-12 "style="height:500px;overflow-y:auto;">
                              <div class="row">
                                {% for phones in phones %}
                                  <div class="col-md-4">
                                    <!-- inside CaRD DIV-->
                                    <div class="row mr-1 ml-1">
                                      <div class="col-md-2  glowing_border d-flex flex-column justify-content-between align-items-center" style="border-radius:15px 0px 0px 15px;">
                                        <span class="rotate custom_label glowing_border" role="button" style="font-size:11px; margin-top: auto; margin-bottom: auto;">
                                          <i class="fa fa-user text-white mr-2">Phone</i>
                                        </span>
                                        <button type="button" class="btn btn-primary btn_link custom_icons" id="btn_link" data-id="" data-toggle="" data-target="#">
                                        <i class="fa fa-trash"></i>
                                        </button>
                                      </div>
                                      <!-- Div Right part-->
                                      <div class="col-md-10 glowing_border d-flex flex-row justify-content-start align-items-center" style="overflow-y: auto; height: 180px; border-radius:0px 15px 15px 0px;">
                                        <span style="font-size:12px;" class="text-white ">  {{ phones }}</span>
                                      </div>
                                    </div>
                                  </div>
                                  
                                {% endfor %}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- END PHONES TAB  -->
                
                
                <!-- START VISUAL TAB -->
                
                {% comment %}
                <div id="visuals" class="tab-pane fade">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12">
                        <form name="portfolio_create_form" id="portfolio_create_form" action="{% url 'Portfolio_Management_System:add_information' %}" enctype="multipart/form-data" method="POST">
                          {% csrf_token %}
                          <div class="card-body m-4 main_card">
                            
                            <div class="row input_wrapper_row">
                              <div class="col-md-2"></div>
                              <div class="col-md-9">
                                <div class="row">
                                  <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                    <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                    class="input_text">Title</span>
                                    <input type="text" class=" ml-2 form-control form-control-sm form_input w-100" id="author_id"
                                    name="title" required="" />
                                  </label>
                                </div>
                                <div class="row">
                                  <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                    <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                    class="input_text">Description</span>
                                    <textarea type="text" class=" ml-2 form-control form-control-sm form_input w-100" id="description_value"
                                    name="description" rows="10" required="required"></textarea>
                                  </label>
                                </div>
                                <div class="row">
                                  <div class="col-sm-9">
                                    <span class="btn btn-default btn-file">
                                      <input id="input-1" name="photos_file_field[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                                    </span>
                                  </div>
                                  
                                </div>
                                
                                <div class="row">
                                  <div class="col-sm-9">
                                    <span class="btn btn-default btn-file">
                                      <input id="input-2" name="videos_file_field[]" type="file" class="file" multiple data-show-upload="true" data-show-caption="true">
                                    </span>
                                  </div>
                                  
                                </div>
                              </div>
                              
                              
                            </div>
                            <div class="col-md-1 ">
                            </div>
                          </div>
                          <input type="hidden" value="visuals" id="form_name" name="extra_type" />
                          <input type="hidden" value="{{ portfolio_id }}" id="form_name" name="portfolio_id" />
                          <div class="row input_wrapper_row">
                            <div class="col-md-6"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                              <input type="submit" class="btn border font-weight-bold btn-sm w-100  text-white" value="Add"
                              name="submit" id="submit">
                            </div>
                          </div>
                        </div>
                      </form>
                      
                      <div class="row">
                        {% for visual in visuals %}
                          
                          <div class="card" style="width: 18rem;">
                            <div class="card-body">
                              <h5 class="card-title">{{ visual.title }}</h5>
                              <p class="card-text">{{ visual.description }}</p>
                              {% for image in visual.images %}
                                <img src="{% static 'Portfolio_Management_System/mongo_temp_files/' %}" alt="">
                              {% endfor %}
                              <a href="#" class="btn btn-primary">Delete</a>
                            </div>
                          </div>
                        {% endfor %}
                        
                        
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          {% endcomment %}
          <!-- END VISUAL TAB -->
        </div>
      </div>
      
      
      
      
      
      
      
      
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
{% endblock %}