{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
<link rel="stylesheet" href="{% static 'Portfolio_Management_System/css/tso_create.css' %}">
{% endblock %}
{% block smallnavbar %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        <div class="row border second_nav_row">
            <div class="col-md-3 m-0 p-0  "><a
                    class="btn border-right  nav-link  second_nav_btn w-100 h-100 text-white">Create</a></div>
            <div class="col-md-3 border-top m-0 p-0  "><a
                    class="btn  border-right border-top nav-link  second_nav_btn w-100 h-100 text-white">Overview</a>
            </div>
            <div class="col-md-3  border-top m-0 p-0  "><a
                    class="btn  border-right border-top nav-link  second_nav_btn w-100 h-100 text-white">Link </a></div>
            <div class="col-md-3 m-0 p-0  "><a
                    class="btn   nav-link  second_nav_btn w-100 h-100 text-white active">Archive</a></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block belly %}
<div class="row">
    <div class="col-md-12  ">
        <div class="w-100 h-100 " id="content_div">
            <div class="card-header  main_card_header m-0 p-0 ">
                <p class="card_header_text">Create Portfolio </p>
            </div>
            <div class="card-body m-4 main_card">
                <div class="row">
                    <div class="col-md-12  ">
                        <div class="row ">
                            <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                data-toggle="buttons">
                                <div class="row col-md-4"><label
                                        class="btn btn-primary custom_center radio_btns active">
                                        <input type="radio" class="options" name="options" id="option1" checked="">
                                        Individual </label></div>
                                <div class="row col-md-4">
                                    <label class="btn btn-primary radio_btns custom_center">
                                        <input type="radio" class="options" name="options" id="option2"> Group </label>
                                </div>
                                <div class="row">
                                    <label class="btn btn-primary radio_btns custom_center">
                                        <input type="radio" class="options" name="options" id="option3"> Event </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row input_wrapper_row">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Author ID</span>
                                    <select class=" ml-2 form-control form-control-sm form_input w-100" id="" name=""
                                        required=""></select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Author ID</span>
                                    <input type="text" class=" ml-2 form-control form-control-sm form_input w-100" id=""
                                        name="" required="">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Author Name</span>
                                    <input type="text" class=" ml-2 form-control form-control-sm form_input w-100" id=""
                                        name="" required="">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Author URL</span>
                                    <input type="url" class=" ml-2 form-control form-control-sm form_input w-100" id=""
                                        name="" required="">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">User Name</span>
                                    <input type="url" class=" ml-2 form-control form-control-sm form_input w-100" id=""
                                        name="" required="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                    </div>
                </div>
                <div class="row input_wrapper_row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <input type="submit" class="btn  btn-sm w-100 submit_btn text-white" value="Submit"
                            name="Submit">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}