{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
    <link rel="stylesheet" href="{% static 'Portfolio_Management_System/css/tso_create.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
{% endblock %}
{% block smallnavbar %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3 m-0 p-0  ">
            <a class="nav-link secondmidnavmenu w-100 h-100 text-white glowing_border"
               href="{% url 'Portfolio_Management_System:create_portfolio' %}">Create</a>
        </div>

        <div class="col-md-3 m-0 p-0  ">
            <a class="nav-link secondmidnavmenu w-100 h-100 text-white active"
               href="/pms/archive">Archive</a>
        </div>
        <div class="col-md-3"></div>
    </div>
{% endblock %}
{% block belly_header %}
    <p class="text-uppercase custom_card_title ">CREATE PORTFOLIO</p>
{% endblock %}
{% block belly %}
    <style>
        nav > div a.nav-item.nav-link.active {
            border: none;
            padding: 18px 25px;
            color: #fff;
            background: linear-gradient(
                    322deg,
                    rgba(170, 172, 175, 1) 0%,
                    rgba(155, 171, 181, 1) 47%,
                    rgba(113, 166, 201, 1) 75%,
                    rgba(99, 164, 207, 1) 100%
            );
            border-radius: 0;
        }

        nav > div a.nav-item.nav-link.active:after {
            position: relative;
            bottom: -60px;
            left: -10%;
            border: 15px solid transparent;
            border-top-color: #e74c3c;
        }

        nav > div a.nav-item.nav-link:hover,
        nav > div a.nav-item.nav-link:focus {
            border: none;
            background: linear-gradient(
                    322deg,
                    rgba(170, 172, 175, 1) 0%,
                    rgba(155, 171, 181, 1) 47%,
                    rgba(113, 166, 201, 1) 75%,
                    rgba(99, 164, 207, 1) 100%
            );
            color: #fff;
            border-radius: 0;
            transition: background 0.20s linear;
        }
    </style>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 m-0 p-0">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link custom_button rounded-0 text-white p-2 active" data-toggle="tab"
                       href="#tab_individual" role="tab" aria-controls="nav-individual"
                       aria-selected="true">INDIVIDUAL</a>
                    <a class="nav-item nav-link custom_button rounded-0 text-white p-2" data-toggle="tab"
                       href="#tab_group"
                       role="tab"
                       aria-controls="nav-group" aria-selected="false">GROUP</a>
                    <a class="nav-item nav-link custom_button rounded-0 text-white p-2" data-toggle="tab"
                       href="#tab_event"
                       role="tab"
                       aria-controls="nav-event" aria-selected="false">EVENT</a>
                </div>
            </nav>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="tab-content">
                <div id="tab_individual" class="tab-pane fade in active show">
                    <form name="portfolio_create_form"
                          class="justify-content-center  pt-3 pb-5 custom_inner_background inner_form_margin_radius"
                          id="portfolio_create_form"
                          action="{% url 'Portfolio_Management_System:create_portfolio' %}" method="POST">
                        {% csrf_token %}
                        <div style="width:80%;" class="container input1">
                            <!-- Radio Buttons Start -->
                            <div class="row">
                                <!-- start of button grp -->
                                <!-- <div class="col-md-12  ">
                                    <div class="row ">
                                        <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                             data-toggle="buttons">
                                            <div class="row col-md-4"><label
                                                    class="">
                                                <input type="checkbox" class="options" name="portfolio_type"
                                                       id="option1"
                                                       value="individual" onclick="return false;" checked>
                                                Individual </label></div>
                                            <div class="row col-md-4">
                                                <label class="">
                                                    <input type="checkbox" class="options" name="portfolio_type"
                                                           id="option2"
                                                           value="group" onclick="return false;"> Group </label>
                                            </div>
                                            <div class="row">
                                                <label class="">
                                                    <input type="checkbox" class="options" name="portfolio_type"
                                                           id="option3"
                                                           value="event" onclick="return false;"> Event </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- end of button grp  -->
                            </div>
                            <!-- Radio Buttons End -->
                            <!-- inputfield 1 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Portfolio Name
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field"
                                       id="portfolio_name" name="portfolio_name" placeholder="Specify a Portfolio Name"
                                       required="required">
                            </div>

                            <!-- inputfield 2 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">DOB
                                        </span>
                                </div>
                                <input type="date" class="col-md-9 form-control custom_input_field" id="dob"
                                       name="dob" placeholder="Specify Date of Birth" required="required"/>
                            </div>

                            <!-- inputfield 3 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Gender
                                        </span>
                                </div>
                                <select type="text" class="col-md-9 form-control custom_input_field" id="gender"
                                        name="gender" required="required">
                                    <option value="">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>

                            <!-- inputfield 4 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Religion
                                        </span>
                                </div>
                                <select type="text" class="col-md-9 form-control custom_input_field"
                                        id="relegion" name="relegion" required="required">
                                    <option value="">Select Religion</option>
                                    <option value="Islam">Islam</option>
                                    <option value="Hinduism">Hinduism</option>
                                    <option value="Christianity">Christianity</option>
                                    <option value="Judaism">Judaism</option>
                                    <option value="Buddhism">Buddhism</option>
                                    <option value="Chinese traditional religion">Chinese
                                        traditional
                                        religion
                                    </option>
                                </select>
                            </div>

                            <!-- inputfield 5 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Sect
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field" id="sect"
                                       name="sect" placeholder="Please Specify a Religious Sect If Applicable"
                                       required="required"/>
                            </div>

                            <!-- Button -->
                            <div class="row input_wrapper_row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <input type="submit"
                                           class="btn border font-weight-bold btn-sm w-100  text-white"
                                           value="SUBMIT"
                                           name="submit" id="submit">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div id="tab_group" class="tab-pane fade in">
                    <form name="portfolio_create_form"
                          class="justify-content-center  pt-3 pb-5 custom_inner_background inner_form_margin_radius"
                          id="portfolio_create_form"
                          action="{% url 'Portfolio_Management_System:create_portfolio' %}" method="POST">
                        {% csrf_token %}
                        <div style="width:80%;" class="container input1">
                            <!-- Radio Buttons Start -->
                            <div class="row">
                                <!-- start of button grp -->
                                <!-- <div class="col-md-12  ">
                                    <div class="row ">
                                        <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                             data-toggle="buttons">
                                            <div class="row col-md-4"><label
                                                    class="">
                                                <input type="checkbox" class="options" name="portfolio_type"
                                                       id="option1"
                                                       value="individual" onclick="return false;">
                                                Individual </label></div>
                                            <div class="row col-md-4">
                                                <label class="">
                                                    <input type="checkbox" class="options" name="portfolio_type"
                                                           id="option2"
                                                           value="group" onclick="return false;" checked> Group </label>
                                            </div>
                                            <div class="row">
                                                <label class="">
                                                    <input type="checkbox" class="options" name="portfolio_type"
                                                           id="option3"
                                                           value="event" onclick="return false;"> Event </label>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- end of button grp  -->
                            </div>
                            <!-- Radio Buttons End -->
                            <!-- inputfield 1 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Portfolio Name
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field"
                                       id="portfolio_name" name="portfolio_name" placeholder="Specify a Portfolio Name"
                                       required="required">
                            </div>

                            <!-- inputfield 2 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Creation Date
                                        </span>
                                </div>
                                <input type="date" class="col-md-9 form-control custom_input_field" id="dob"
                                       name="dob" placeholder="Specify Creation Date" required="required"/>
                            </div>

                            <!-- inputfield 3 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Group Type
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field" id="gender"
                                       name="gender" placeholder="Specify Group Type" required="required"/>
                            </div>

                            <!-- inputfield 4 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Group Region
                                        </span>
                                </div>

                                <input type="text" class="col-md-9 form-control custom_input_field" id="relegion"
                                       name="relegion" placeholder="Specify Group Region" required="required"/>
                            </div>

                            <!-- inputfield 5 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Group Details
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field" id="sect"
                                       name="sect" placeholder="Specify Group Details" required="required"/>
                            </div>

                            <!-- Button -->
                            <div class="row input_wrapper_row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <input type="submit"
                                           class="btn border font-weight-bold btn-sm w-100  text-white"
                                           value="SUBMIT"
                                           name="submit" id="submit">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
                <div id="tab_event" class="tab-pane fade in">
                    <form name="portfolio_create_form"
                          class="justify-content-center  pt-3 pb-5 custom_inner_background inner_form_margin_radius"
                          id="portfolio_create_form"
                          action="{% url 'Portfolio_Management_System:create_portfolio' %}" method="POST">
                        {% csrf_token %}
                        <div style="width:80%;" class="container input1">
                            <!-- Radio Buttons Start -->
                            <!-- <div class="row">
                            
                                <div class="col-md-12  ">
                                    <div class="row ">
                                        <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                             data-toggle="buttons">
                                            <div class="row col-md-4"><label
                                                    class="">
                                                <input type="checkbox" class="options" name="portfolio_type"
                                                       id="option1"
                                                       value="individual" onclick="return false;">
                                                Individual </label></div>
                                            <div class="row col-md-4">
                                                <label class="">
                                                    <input type="checkbox" class="options" name="portfolio_type"
                                                           id="option2"
                                                           value="group" onclick="return false;"> Group </label>
                                            </div>
                                            <div class="row">
                                                <label class="">
                                                    <input type="checkbox" class="options" name="portfolio_type"
                                                           id="option3"
                                                           value="event" onclick="return false;" checked> Event </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             
                            </div> -->
                            <!-- Radio Buttons End -->
                            <!-- inputfield 1 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Portfolio Name
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field"
                                       id="portfolio_name" name="portfolio_name" placeholder="Specify a Portfolio Name"
                                       required="required">
                            </div>

                            <!-- inputfield 2 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Event Date
                                        </span>
                                </div>
                                <input type="date" class="col-md-9 form-control custom_input_field" id="dob"
                                       name="dob" placeholder="Specify Event Date" required="required"/>
                            </div>

                            <!-- inputfield 3 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Event Type
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field" id="gender"
                                       name="gender" placeholder="Specify Event Type" required="required"/>
                            </div>

                            <!-- inputfield 4 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Location
                                        </span>
                                </div>

                                <input type="text" class="col-md-9 form-control custom_input_field" id="relegion"
                                       name="relegion" placeholder="Specify Location" required="required"/>
                            </div>

                            <!-- inputfield 5 -->
                            <div class="row input-group mt-4 mb-3">
                                <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Details
                                        </span>
                                </div>
                                <input type="text" class="col-md-9 form-control custom_input_field" id="sect"
                                       name="sect" placeholder="Please Specify Details" required="required"/>
                            </div>

                            <!-- Button -->
                            <div class="row input_wrapper_row">
                                <div class="col-md-6"></div>
                                <div class="col-md-4"></div>
                                <div class="col-md-2">
                                    <input type="submit"
                                           class="btn border font-weight-bold btn-sm w-100  text-white"
                                           value="SUBMIT"
                                           name="submit" id="submit">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block base_js %}
    <script>
        window.document.title = "Portfolio";
    </script>
{% endblock %}
