{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
<link rel="stylesheet" href="{% static 'Portfolio_Management_System/css/tso_create.css' %}">
{% endblock %}
{% block smallnavbar %}
<style>
    .radio_btns {
        height: 60px;
        width: 160px;
        background: transparent;
        border: 1px solid white;
        color:white;
        background: linear-gradient(to right, #283e51, #1cb5e0);
    }
select{
        color:white!important;
    }
    #submit{
        background: linear-gradient(to right, #283e51, #1cb5e0);
    }
</style>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 ">
        <div class="row border second_nav_row">
            <div class="col-md-3 m-0 p-0  "><a
                    class="btn border-right  nav-link  second_nav_btn w-100 h-100 text-white" href="{% url 'Portfolio_Management_System:create_portfolio' %}">Create</a></div>
            <div class="col-md-3 border-top m-0 p-0  "><a
                    class="btn  border-right border-top nav-link  second_nav_btn w-100 h-100 text-white" href="/pms/overview">Overview</a>
            </div>
            <div class="col-md-3  border-top m-0 p-0  "><a
                    class="btn  border-right border-top nav-link  second_nav_btn w-100 h-100 text-white" href="{% url 'Portfolio_Management_System:add_information' %}">Link </a></div>
            <div class="col-md-3 m-0 p-0  "><a
                    class="btn   nav-link  second_nav_btn w-100 h-100 text-white active" href="/pms/archive">Archive</a></div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}

{% block belly %}
<div class="row">
    <div class="col-md-12  ">
        <div class="w-100 h-100 " id="content_div">
            <div class="card-header  main_card_header m-0 p-0 ">
                <p class="card_header_text">Create Portfolio </p>
            </div>
            <form name="portfolio_create_form" id="portfolio_create_form" action="{% url 'Portfolio_Management_System:create_portfolio' %}" method="POST">
                {% csrf_token %}
            <div class="card-body m-4 main_card">
                <div class="row">
                    <div class="col-md-12  ">
                        <div class="row ">
                            <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                data-toggle="buttons">
                                <div class="row col-md-4"><label
                                        class="btn  custom_center radio_btns active">
                                        <input type="radio" class="options" name="portfolio_type" id="option1" value="individual" checked="">
                                        Individual </label></div>
                                <div class="row col-md-4">
                                    <label class="btn radio_btns custom_center">
                                        <input type="radio" class="options" name="portfolio_type" id="option2" value="group"> Group </label>
                                </div>
                                <div class="row">
                                    <label class="btn radio_btns custom_center">
                                        <input type="radio" class="options" name="portfolio_type" id="option3" value="event"> Event </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row input_wrapper_row">
                    <div class="col-md-2"></div>
                    <div class="col-md-9">


                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Portfolio Name</span>
                                    <input type="text" class=" ml-2 form-control form-control-sm form_input w-100" id="portfolio_name"
                                        name="portfolio_name" required="required">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">DOB</span>
                                    <input type="date" class=" ml-2 form-control form-control-sm form_input w-100" id="dob"
                                        name="dob" required="required">
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Relegion</span>
                                    <select type="text" class=" ml-2 form-control form-control-sm form_input w-100" id="gender"
                                        name="gender" required="required">
                                    <option value="">Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>

                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Relegion</span>
                                    <select type="text" class=" ml-2 form-control form-control-sm form_input w-100" id="relegion"
                                        name="relegion" required="required">
                                    <option value="">Select Relegion</option>
                                    <option value="Islam">Islam</option>
                                    <option value="Hinduism">Hinduism</option>
                                    <option value="Christianity">Christianity</option>
                                    <option value="Judaism">Judaism</option>
                                    <option value="Buddhism">Buddhism</option>
                                    <option value="Chinese traditional religion">Chinese traditional religion</option>
                                    </select>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                        class="input_text">Sect</span>
                                    <input type="text" class=" ml-2 form-control form-control-sm form_input w-100" id="sect"
                                        name="sect" required="required">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 ">
                    </div>
                </div>

                <div class="row input_wrapper_row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-2">
                        <input type="submit" class="btn border font-weight-bold btn-sm w-100  text-white" value="submit"
                        name="submit" id="submit">
                    </div>
                </div>
            </div>
        </form>
        </div>

    </div>
</div>
{% endblock %}