{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
    <link rel="stylesheet" href="{% static 'Portfolio_Management_System/css/tso_link.css' %}"/>
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
{% endblock %}
{% block smallnavbar %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 ">
            <div class="row">
                <div class="col-md-3 m-0 p-0  "><a
                        class="nav-link secondmidnavmenu w-100 h-100 text-white"
                        href="{% url 'Portfolio_Management_System:create_portfolio' %}">Create</a></div>
                <div class="col-md-3 m-0 p-0  "><a
                        class="nav-link secondmidnavmenu w-100 h-100 text-white"
                        href="{% url 'Portfolio_Management_System:explore' %}">Explore</a>
                </div>
                <div class="col-md-3 m-0 p-0  "><a
                        class="nav-link secondmidnavmenu w-100 h-100 text-white"
                        href="{% url 'Portfolio_Management_System:add_information' %}">Link </a></div>
                <div class="col-md-3 m-0 p-0  "><a
                        class="nav-link secondmidnavmenu w-100 h-100 text-white active"
                        href="/pms/archive">Archive</a></div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block belly %}
    <style>
        .custom_label {
            border: 1px solid white;
            border-radius: 0px;
            background: transparent !important;
            padding-left: 5px;
            border-radius: 5px;

        }

        .input_text {
            width: 200px;
            font-size: 12px;
            letter-spacing: 4px;
            font-weight: bold;
            color: white;
        }

        input {
            background-color: transparent !important;
            border-radius: 10px 5px 5px 10px !important;
            color: white !important;
        }

        .radio_btns {
            height: 60px;
            width: 160px;
            background: transparent;
            border: 1px solid white;
            color: white;
            background: linear-gradient(to right, #283e51, #1cb5e0);
        }

        .custom_pills {
            background: linear-gradient(to right, #283e51, #1cb5e0);

            text-align: center;

        }

        .custom_pills a {
            text-decoration: none;;
            font-weight: bolder;
        }

        #submit {
            background: linear-gradient(to right, #283e51, #1cb5e0);
        }
    </style>
    <div class="row">
        <div class="col-md-12  ">
            <div class="w-100 h-100 " id="content_div">
                <div class="card-header  main_card_header m-0 p-0 ">
                    <p class="card_header_text">Add Information</p>
                </div>
                <div class="card-body   p-4  m-0 ">
                    <div class="row card_row">
                        <div class="col-md-1  m-0 p-0  ">
                            <div
                                    class="  w-100 h-50 m-0 p-0 eye_icon d-flex flex-column justify-content-start  text-center  ">
                                <i class="fas fa-unlink icon_chain text-white  pb-3 pt-3 border border-left-0 "></i>
                            </div>
                            <div class=" w-100 h-50 m-0 p-0 eye_icon d-flex flex-column justify-content-end  text-center ">
                                <i class="fas fa-eye icon_eye text-white pb-3 pt-3 border border-left-0 "></i>
                            </div>
                        </div>
                        <div class="col-md-10 m-0 p-0 ">
                            <div class="container-fluid  border">

                                <ul class="nav nav-pills row">

                                    <li class="custom_pills active col-md-4 border-dark border"><a class="text-white "
                                                                                                   data-toggle="pill"
                                                                                                   href="#social">Add
                                        Social Targets </a></li>
                                    <li class="custom_pills col-md-4 border-dark border"><a class="text-white "
                                                                                            data-toggle="pill"
                                                                                            href="#adresses">Add
                                        Adrresses </a></li>
                                    <li class="custom_pills col-md-4 border-dark border"><a class="text-white "
                                                                                            data-toggle="pill"
                                                                                            href="#description">Add
                                        Description</a></li>
                                </ul>

                                <div class="tab-content">


                                    <div id="social" class="tab-pane active in  fade show">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form name="portfolio_create_form" id="portfolio_create_form"
                                                          action="/pms/create/" method="POST">
                                                        {% csrf_token %}
                                                        <div class="card-body m-4 main_card">
                                                            <div class="row">
                                                                <div class="col-md-12  ">
                                                                    <div class="row ">
                                                                        <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                                                             data-toggle="buttons">
                                                                            <div class="row col-md-4"><label
                                                                                    class="btn  custom_center radio_btns active">
                                                                                <input type="radio" class="options"
                                                                                       name="options" id="option1"
                                                                                       value="Individual   " checked="">
                                                                                Individual </label></div>
                                                                            <div class="row col-md-4">
                                                                                <label class="btn  radio_btns custom_center">
                                                                                    <input type="radio" class="options"
                                                                                           name="options" id="option2"
                                                                                           value="Group"> Group </label>
                                                                            </div>
                                                                            <div class="row">
                                                                                <label class="btn  radio_btns custom_center">
                                                                                    <input type="radio" class="options"
                                                                                           name="options" id="option3"
                                                                                           value="Event"> Event </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row input_wrapper_row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-9">
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Author ID</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="author_id"
                                                                                       name="author_id" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Author Name</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="author_name"
                                                                                       name="author_name" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Author URL</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="author_url"
                                                                                       name="author_url" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">User Name</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="username"
                                                                                       name="username" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 ">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="social_info" id="form_name"
                                                                   name="form_name"/>
                                                            <div class="row input_wrapper_row">
                                                                <div class="col-md-6"></div>
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-2">
                                                                    <input type="submit"
                                                                           class="btn border font-weight-bold btn-sm w-100  text-white"
                                                                           value="submit"
                                                                           name="submit" id="submit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="adresses" class="tab-pane fade">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form name="portfolio_create_form" id="portfolio_create_form"
                                                          action="/pms/create/" method="POST">
                                                        {% csrf_token %}
                                                        <div class="card-body m-4 main_card">
                                                            <div class="row">
                                                                <div class="col-md-12  ">
                                                                    <div class="row ">
                                                                        <div class="col-md-12 btn-group btn-group-toggle d-flex flex-row justify-content-center align-items-center"
                                                                             data-toggle="buttons">
                                                                            <div class="row col-md-4"><label
                                                                                    class="btn btn-primary custom_center radio_btns active">
                                                                                <input type="radio" class="options"
                                                                                       name="options" id="option1"
                                                                                       value="Individual   " checked="">
                                                                                Individual </label></div>
                                                                            <div class="row col-md-4">
                                                                                <label class="btn btn-primary radio_btns custom_center">
                                                                                    <input type="radio" class="options"
                                                                                           name="options" id="option2"
                                                                                           value="Group"> Group </label>
                                                                            </div>
                                                                            <div class="row">
                                                                                <label class="btn btn-primary radio_btns custom_center">
                                                                                    <input type="radio" class="options"
                                                                                           name="options" id="option3"
                                                                                           value="Event"> Event </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row input_wrapper_row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-9">
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Author ID</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="author_id"
                                                                                       name="author_id" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Author Name</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="author_name"
                                                                                       name="author_name" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Author URL</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="author_url"
                                                                                       name="author_url" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">User Name</span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="username"
                                                                                       name="username" required="">
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1 ">
                                                                </div>
                                                            </div>
                                                            <input type="hidden" value="perosnal_info" id="form_name"
                                                                   name="form_name"/>
                                                            <div class="row input_wrapper_row">
                                                                <div class="col-md-6"></div>
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-2">
                                                                    <input type="submit"
                                                                           class="btn border font-weight-bold btn-sm w-100  text-white"
                                                                           value="submit"
                                                                           name="submit" id="submit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div id="description" class="tab-pane fade">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form name="portfolio_create_form" name="add_description_form"
                                                          id="add_description_form" action="/pms/link/" method="POST">
                                                        {% csrf_token %}
                                                        <input type="hidden" value="add_description_form"
                                                               name="form_name" id="form_name" value="form_name"/>
                                                        <div class="card-body m-4 main_card">

                                                            <div class="row input_wrapper_row">
                                                                <div class="col-md-2"></div>
                                                                <div class="col-md-9">
                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Description Key </span>
                                                                                <input type="text"
                                                                                       class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                       id="description_key"
                                                                                       name="description_key"
                                                                                       required="required">
                                                                            </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div class="col-md-12  form-group form-inline w-100 h-100 b">
                                                                            <label class="bg-white custom_label m-0 p-0  h-100 w-100  pl-2 "><span
                                                                                    class="input_text">Description Value</span>
                                                                                <textarea type="text"
                                                                                          class=" ml-2 form-control form-control-sm form_input w-100"
                                                                                          id="description_value"
                                                                                          name="description_value"
                                                                                          rows="10"
                                                                                          required="required"></textarea>
                                                                            </label>
                                                                        </div>
                                                                    </div>


                                                                </div>
                                                                <div class="col-md-1 ">
                                                                </div>
                                                            </div>

                                                            <div class="row input_wrapper_row">
                                                                <div class="col-md-6"></div>
                                                                <div class="col-md-4"></div>
                                                                <div class="col-md-2">
                                                                    <input type="submit"
                                                                           class="btn border font-weight-bold btn-sm w-100  text-white"
                                                                           value="submit"
                                                                           name="submit" id="submit">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1 card_text    m-0 p-0 ">
                            <p class="text-white">Case Link Relation</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
