.topheading {
    padding: 0.4em 0 0.3em 0.5em;
    font-size: 1.6em;
    font-weight: lighter;
    opacity: 0.8;
    color: #fff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2em;
}

.topcontentbar {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 20%) 0%,
        rgba(65, 130, 173, 29%) 50%,
        rgba(0, 0, 0, 40%) 100%
    );
    border-bottom: 1px solid #707070;
}
.crawlingLabel {
    padding: 4px 25px;
    background: linear-gradient(
        90deg,
        rgba(0, 32, 44, 60%) 0%,
        rgba(0, 37, 53, 55%) 52%,
        rgba(0, 55, 85, 46%) 76%,
        rgba(0, 113, 188, 30%) 100%
    );
    padding: 2px 20px;
    border: 1px solid #707070;
    font-size: 16px;
    color: white;
}

.keybasediv {
    background-image: url("./back.png");
    background-repeat: no-repeat;
    width: 85%;
    margin: 0.1rem auto;
    background-size: contain;
    background-size: 100%;
    height: 550px;
}

.keybaseLabel {
    font-size: 13px;
    letter-spacing: 0.1em;
    opacity: 0.9;
    padding: 8px 3rem 0 1rem;
    background: linear-gradient(
        90deg,
        rgba(8, 115, 186, 20%) 0%,
        rgba(130, 147, 158, 20%) 50%,
        rgba(153, 153, 153, 20%) 100%
    );
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #909090;
}

.tegscontainer {
    border: 1px solid #909090;
    border-radius: 7px;
    height: 30px;
}

.tegscontainer {
    padding: 2px 8px;
    display: flex;
}

.eachtag {
    background: linear-gradient(
        90deg,
        rgba(8, 115, 186, 20%) 0%,
        rgba(130, 147, 158, 20%) 50%,
        rgba(153, 153, 153, 20%) 100%
    );
    border: 1px solid #909090;
    color: #001926;
    font-size: 11px;
    border-radius: 7px;
    margin-right: 5px;
    padding: 1px 10px;
}
.tegicon {
    opacity: 0.7;
    padding-left: 3px;
}

.input-group-prepend {
    margin: 0;
    padding: 0;
}

.editbutton {
    border: 1px solid #707070;
    border-radius: 0 6px 6px 0;
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );
    padding: 0.6rem;
    opacity: 0.7;
}
.threebuttons {
}

.middlecontentdiv {
    background-color: #9da3aa;

    border-radius: 20px 20px 0 0;
    width: 100%;
    margin-left: 20px;
}

.formbg {
    width: 90%;
    margin: 1rem;
    background: linear-gradient(
        90deg,
        rgba(219, 219, 219, 1) 0%,
        rgba(230, 230, 230, 1) 19%,
        rgba(230, 230, 230, 1) 77%,
        rgba(219, 219, 219, 1) 100%
    );
    border: 1 solid #707070;
}

.mymainbg {
    background: linear-gradient(
        0deg,
        rgba(242, 242, 242, 1) 0%,
        rgba(240, 240, 240, 1) 52%,
        rgba(221, 221, 221, 1) 77%,
        rgba(204, 204, 204, 1) 100%
    );
    border: 1 solid #707070;
}

.newinput {
    background: rgb(62, 62, 62);
    background: linear-gradient(
        322deg,
        rgba(62, 62, 62, 40%) 0%,
        rgba(86, 123, 147, 50%) 47%,
        rgba(37, 117, 170, 55%) 75%,
        rgba(37, 117, 170, 66%) 100%
    );
}

.newinputdesign {
    background: rgb(170, 172, 175);
    background: linear-gradient(
        322deg,
        rgba(170, 172, 175, 1) 0%,
        rgba(155, 171, 181, 1) 47%,
        rgba(113, 166, 201, 1) 75%,
        rgba(99, 164, 207, 1) 100%
    );
}

.othercontainer {
    background: rgb(214, 214, 214);
    background: linear-gradient(
        180deg,
        rgba(214, 214, 214, 1) 0%,
        rgba(230, 230, 230, 1) 47%,
        rgba(220, 220, 220, 1) 86%,
        rgba(214, 214, 214, 1) 100%
    );

    border: 1px solid #707070;
    border-top: none;
    border-radius: 0 0 15px 15px;
}
.topmarktarget {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 20%) 0%,
        rgba(65, 130, 173, 29%) 50%,
        rgba(0, 0, 0, 40%) 100%
    );
    border-bottom: 1px solid #707070;
}

.resultright {
    border-right: 1px solid #707070;
}

.newlabeldesign {
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );
    letter-spacing: 5px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fff;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    /* padding: 8px 3rem 0 1rem; */
    padding: 7px 0rem 6px 0px;
}
.searchbutton {
    border-radius: 12px;
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );

    padding: 4px 3rem;
    letter-spacing: 0.1rem;
    font-size: 16px;
}

.topleft {
    border-radius: 20px 0 0 0;
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 20%) 0%,
        rgba(65, 130, 173, 29%) 50%,
        rgba(0, 0, 0, 40%) 100%
    );
    border-bottom: 1px solid #707070;
}

.topright {
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 20%) 0%,
        rgba(65, 130, 173, 29%) 50%,
        rgba(0, 0, 0, 40%) 100%
    );

    border-radius: 15px;
}
.toptitle {
    font-size: 22px;
    padding: 1rem auto;
    letter-spacing: 0.1em;
    color: white;
    font-weight: lighter;
}

.newkeybaselabel {
    color: #0071bc !important;
    background: rgb(242, 242, 242);
    background: linear-gradient(
        93deg,
        rgba(242, 242, 242, 1) 0%,
        rgba(204, 204, 204, 1) 100%
    );
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #0071bc !important;
}

.myixon {
    color: white;
    opacity: 0.8;
}
