{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% load osint_custom_tags %}

{% block head_dep %}
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_dynamiccrawling.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">


{% endblock %}

{% block smallnavbar %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex flex-row justify-content-center align-items-center" style="">
        <div class="col-md-1">
        </div>
        
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu ">
            <a href="{% url 'User_Accounts_Management_Unit:add_user' %}" class="btn secondnavitems ">
                Add User</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
            <a href="{% url 'User_Accounts_Management_Unit:all_users' %}" class="btn secondnavitems ">
                All Users</a>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
            <a href="{% url 'User_Accounts_Management_Unit:all_user_group' %}" class="btn secondnavitems ">
                All User Groups</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
            <a href="{% url 'User_Accounts_Management_Unit:add_user_profile' %}" class="btn secondnavitems ">
                Add User Profile</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
            <a href="{% url 'User_Accounts_Management_Unit:all_user_profile' %}" class="btn secondnavitems ">
               All User Profiles</a>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
{% block belly_header %}
    <p class="text-uppercase custom_card_title ">ALL USERS PROFILES</p>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addUserGroupModal">
   <i class="fa fa-plus text-white">Add </i>
  </button>
{% endblock %}
{% block belly %}
<style>
    option {
        /*background-color: #07385c;*/
        background-color:white!important;
       
    }
</style>
    <style>
        th,td{
            font-size: 13px;
            font-weight: bold;;
        }
        a.badge{
            font-size:13px;
        }
        button.badge{
            font-size:13px;  
        }
        tr {
            width: 100%;
            display: inline-table;
            table-layout: fixed;
        }

        table {
            height: 500px !important;
            display: -moz-groupbox;
        }

        tbody {
            overflow-y: scroll !important;
            overflow-x: hidden;
            height: 400px !important;
            width: 100%;

        }

        @media screen and (max-width: 767px) {
            .table-responsive {
                width: 100%;
                margin-bottom: 15px;
                overflow-y: hidden;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                border: 1px solid #ddd;
            }

            .table-responsive > .table {
                margin-bottom: 0;
            }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap;
            }

            .table-responsive > .table-bordered {
                border: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                border-left: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                border-right: 0;
            }

            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                border-bottom: 0;
            }
        }
    </style>
    <div class="row">
  
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-responsive text-dark pt-2 border table-striped" id="All_Groups_Table" style="width:100%">
                <thead>
                <tr>

                   
                    <th scope="col">Group  Name</th>
                    <th scope="col">Included Users</th>
                    <th scope="col">Exclude User</th>
                    <th scope="col">Excluded Users</th>
                    <th scope="col">Add User</th>
                    <th scope="col">Permissions</th>
                    <th scope="col">Operation</th>

                </tr>
                </thead>
                <tbody>
                {% for group in All_Users_Groups %}
                    <tr>
                        
                        <td>{{ group.name|default:"N/A"}}</td>
                        <td><select name="included_users" class="form-control included_users_list" id="included_users_list">
                            {% for user in  All_Users %}
                            {% if user|has_group:group.name %}
                            <option value="{{user.username}}">{{user.username}}</option>
                            {% else %}                          
                            {% endif %}
                            {% endfor %}
                        </select></td>
                        <td><button type="button" id="removeUsersToGroupsBtn" class="btn btn-danger removeUsersToGroupsBtn"  data-id="{{group.id}}" >
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                           </button></td>
                        <td><select name="excluded_users" class="form-control excluded_users" id="excluded_users">
                            {% for user in  All_Users %}
                            {% if user|has_group:group.name %}                         
                            {% else %}                        
                            <option value="{{user.username}}">{{user.username}}</option>
                            {% endif %}
                            {% endfor %}
                        </select></td>
                        <td><button type="button" id="addUsersToGroupsBtn" class="btn btn-success addUsersToGroupsBtn
                            "  data-id="{{group.id}}" >
                            <i class="fa fa-plus text-white"> </i>
                           </button></td>
                         
                          </td>
                          <td>
                              <!--  -->
                            
                            
                            <!--  -->
                            <select class="form-control">
                              {% for  permission in group.permissions.all  %} 
                             
                              <option value="{{permission.id}}">{{permission.name}}</option>
                          {% empty %}
                           None
                          
                            {% endfor %} </select>
                        
                        </td>
                        <td> <a class="badge badge-dark" href="{% url 'User_Accounts_Management_Unit:delete_user_group' id=group.id %}"><i class="fa fa-trash text-danger"></i></a>
                            <a class="badge badge-success 
                            Update_Group_Button" data-toggle="modal" id="Update_Group_Button" data-id="{{group.name}}"   {% if   group.permissions.all.count == 0  %} data-cmd="{{group.permissions.all.count}}" {% else %} data-cmd="{{group.permissions.all.count}}" {% endif %}  data-target="#Edit_Group_Modal"><i class="fa fa-eye text-white"></i></a>
                           
                        </td>
                       
                    </tr>
                    
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--  -->
  <!-- hidden form  -->
  



  <form action="{% url 'User_Accounts_Management_Unit:remove_users_to_groups' %}" id="remove_user_to_group_form" method="POST">
    {% csrf_token %}
    <input type="hidden" name="username_RemoveGroup" id="username_RemoveGroup" />
    <input type="hidden" name="groupIdForRemove" id="groupIdForRemove" />
    <input type="hidden" name="page_name" value="All_Users_Group" id="page_name" />
</form>

<div class="modal fade"tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="addUserGroupModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'User_Accounts_Management_Unit:add_user_group'%}" method="POST">
            {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Add New Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       
            <div class="d-flex flex-row justify-content-around align-items-center">
                <label for="" class="btn ">Group Name 
                   
                </label>
                <input type="text" name="group-name" class="form-control border border-primary" maxlength="25" minlength="3" id="group-name"style="color:black!important;width:230px;" required />
            </div>
           <div class="row mt-2">
               <div class="col-md-5"></div>
               <div class="col-md-7">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <input type="checkbox" class="" name="permissions" value="0" id="permissions"  />
                    <small class="text-success font-weight-bold ml-3">Allow all permissions</small>
                </div>
               </div>
           </div>
       
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Create</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  <!-- EDIT MODAL -->



  
  <!-- Modal -->
  <div class="modal fade" id="Edit_Group_Modal" tabindex="-1" role="dialog" aria-labelledby="Edit_Group_ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form action="{% url 'User_Accounts_Management_Unit:update_user_group' %}" method="POST">
            <input type="hidden" name="update-name" id="update-name" />
            {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Update Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
       
            <div class="d-flex flex-row justify-content-around align-items-center">
                <label for="" class="btn ">Group Name 
                   
                </label>
                <input type="text" name="update-group-name" class="form-control border border-primary" maxlength="25" minlength="3" id="update-group-name"style="color:black!important;width:230px;" required />
            </div>
           <div class="row mt-2">
               <div class="col-md-5"></div>
               <div class="col-md-7">
                <div class="d-flex flex-row justify-content-start align-items-center">
                    <input type="checkbox" class="" name="update-permissions" value="0" id="update-permissions"  />
                    <small class="text-success font-weight-bold ml-3">Allow all permissions</small>
                </div>
               </div>
           </div>
       
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
      </div>
    </div>
  </div>

<!-- SPECIAL HIDDEN FIELD TO DETECT WHEATHER GROUP HAS PERMSIONS IN UPDATE GROUP NAME -->


{% endblock %}>
{% block base_js %}


<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script defer type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>

            <script>
                $(document).ready(function () {
                    $('#All_Groups_Table').DataTable();
                });
                //add Group id to modal hiddeen field on click so that we can add suer by fecthing that group 
               
            </script>
            <script>
                window.document.title = "All Groups";
            </script>
            <script>
                
                $(document).ready(function () {
                    //add user to group 
           $('.addUsersToGroupsBtn').on('click',function(){
               var Group_Id= $(this).attr("data-id")
              var Selected_User_Name = $(".excluded_users option:selected").val();
              if(Selected_User_Name == '' || Selected_User_Name === '' || Selected_User_Name == 0){
                Command: toastr["info"]("Please select a user from excluded user list .")

                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": false,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "5000",
                    "extendedTimeOut": "1000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                }
          
              }
              else{
                $('#groupIdForAdd').val(Group_Id);
                $('#username_AddGroup').val(Selected_User_Name);
                $('#add_user_to_group_form').submit();
              }
           })
           //end add user to group 

           
                    
                });
                    
            </script>

<script>

    $(document).ready(function(){
        //remove uset from group 
  $('.removeUsersToGroupsBtn').on('click',function(){
    var Group_Id= $(this).attr("data-id")
    var Selected_User_Name = $(".included_users_list option:selected").val();
    console.log(Selected_User_Name)
    if(Selected_User_Name == ''){
    Command: toastr["info"]("Please select a user from included user list .")
    console.log(Selected_User_Name)
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

  }
  else{
    console.log("if")
     $('#groupIdForRemove').val(Group_Id);
    $('#username_RemoveGroup').val(Selected_User_Name);
    $('#remove_user_to_group_form').submit();

  }
})
//end
    })
</script>
  
   
    <script>
        {% for message in messages %}
        $(document).ready(function() {
           
            Command: toastr["{{ message.tags }}"]("{{ message }} .")

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        });
        {% endfor %}

      
            

        </script>
        <!-- Update Goup  -->
        <script>
            $(document).ready(function(){
                console.log("update ready ");
                $('.Update_Group_Button').on('click',function(){
                  var   Get_Group_Name=$(this).attr("data-id");
                  $('#update-name').val(Get_Group_Name)
                  var   If_Group_Has_Permissions=$(this).attr("data-cmd");
                  console.log(Get_Group_Name)
                $('#update-group-name').val(Get_Group_Name);
             
              console.log(If_Group_Has_Permissions);
                if(If_Group_Has_Permissions === '0'){
                    $('#update-permissions').prop("checked", false)
                    console.log("==0");
                }
                else if (If_Group_Has_Permissions > '0'){
                  
                    $('#update-permissions').prop("checked", true)
                    console.log(">0");
                }
                else{
                    console.log("else");
                }
                })
            })
        </script>
{% endblock %}


                      
                       
                        
   

    
 
 
