{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_dynamiccrawling.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">


{% endblock %}
{% block smallnavbar %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex flex-row justify-content-center align-items-center" style="">
            <div class="col-md-1">
            </div>
            
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu ">
                <a href="{% url 'User_Accounts_Management_Unit:add_user' %}" class="btn secondnavitems ">
                    Add User</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
                <a href="{% url 'User_Accounts_Management_Unit:all_users' %}" class="btn secondnavitems ">
                    All Users</a>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
                <a href="{% url 'User_Accounts_Management_Unit:all_user_group' %}" class="btn secondnavitems ">
                    All User Groups</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
                <a href="{% url 'User_Accounts_Management_Unit:add_user_profile' %}" class="btn secondnavitems ">
                    Add User Profile</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
                <a href="{% url 'User_Accounts_Management_Unit:all_user_profile' %}" class="btn secondnavitems ">
                   All User Profiles</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="col-md-2"></div>
    </div>
{% endblock %}
{% block belly_header %}
    <p class="text-uppercase custom_card_title ">ALL USERS PROFILES</p>
    <a class="btn btn-success float-right" href="{%  url 'User_Accounts_Management_Unit:add_user_profile' %}"><i class="fa fa-plus text-white">Add </i></a>
{% endblock %}
{% block belly %}
    <style>
        th,td{
            font-size: 13px;
            font-weight: bold;;
        }
        a.badge{
            font-size:13px;
        }
        tr {
            width: 100%;
            display: inline-table;
            table-layout: fixed;
        }

        table {
            height: 500px !important;
            display: -moz-groupbox;
        }

        tbody {
            overflow-y: scroll !important;
            overflow-x: hidden;
            height: 400px !important;
            width: 100%;

        }

        @media screen and (max-width: 767px) {
            .table-responsive {
                width: 100%;
                margin-bottom: 15px;
                overflow-y: hidden;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                border: 1px solid #ddd;
            }

            .table-responsive > .table {
                margin-bottom: 0;
            }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap;
            }

            .table-responsive > .table-bordered {
                border: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                border-left: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                border-right: 0;
            }

            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                border-bottom: 0;
            }
        }
    </style>
    <div class="row">
  
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-responsive text-dark pt-2 border table-striped" id="All_User_Profiles" style="width:100%">
                <thead>
                <tr>

                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Local Address</th>
                    <th scope="col">Perm Address</th>
                    <th scope="col">Profile Pic</th>
                    <th scope="col">Operation</th>

                </tr>
                </thead>
                <tbody>
                {% for profiles in All_User_Profiles %}
                    <tr>
                        <th scope="row">{{ profiles.first_name|default:"N/A"}}</th>
                        <td>{{ profiles.last_name|default:"N/A"}}</td>
                        <td> {{profiles.current_address|default:"N/A"}}</td>
                        <td>{{ profiles.permanent_address|default:"N/A"}}</td>
                        <td>{{ profiles.expired_on|default:"N/A"}}</td>
                        <td><img src="{{ profiles.profile_pic|default:"N/A"}}" style="" alt=""></td>
                        <td> <a class="badge badge-dark" href="{%  url 'User_Accounts_Management_Unit:delete_user_profile' id=profiles.id %}"><i class="fa fa-trash text-danger"></i></a>
                            <a class="badge badge-success" href="{%  url 'User_Accounts_Management_Unit:update_user_profile' id=profiles.id %}"><i class="fa fa-eye text-white"></i></a>
                           
                        </td>
                    </tr>
                    
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}>
{% block base_js %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script defer type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#All_User_Profiles').DataTable();
        });
    </script>
    <script>
        window.document.title = "All Profiles";
    </script>
    <script>
        {% for message in messages %}
        $(document).ready(function() {
            console.log("###############################################################################")
            Command: toastr["{{ message.tags }}"]("{{ message }} .")

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        });
        {% endfor %}

      
            

        </script>
{% endblock %}
