{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_dynamiccrawling.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">


{% endblock %}
{% block head_styles %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />


{% endblock %}
{% block smallnavbar %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 d-flex" style="">
            <div class="col-md-1">
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu"> <!-- secondnavactive -->
                <a href="{% url 'Target_Management_System:tms_marktarget' %}" class="btn secondnavitems "> MARK</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
                <a href="{% url 'Target_Management_System:tms_fetchtarget' %}" class="btn secondnavitems "> FETCH</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
                <a href="{% url 'Target_Management_System:tms_identifytarget' %}" class="btn secondnavitems ">
                    IDENTIFY</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
                <a href="{% url 'Target_Management_System:tms_internetsurvey' %}" class="btn secondnavitems ">
                    SURVEY</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu ">
                <a href="{% url 'Target_Management_System:tms_dynamiccrawling' %}" class="btn secondnavitems ">
                    CRAWLING</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
                <a href="{% url 'Target_Management_System:tms_keybase_crawling' %}" class="btn secondnavitems ">
                    KEYBASE</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
{% block belly_header %}
    <p class="text-uppercase custom_card_title ">ALL USERS PROFILES</p>

    <!-- Button trigger modal -->
<button type="button" class="btn btn-success float-right" data-toggle="modal" data-target="#addUserGroupModal">
   <i class="fa fa-plus text-white">Add </i>
  </button>
{% endblock %}
{% block belly %}
<style>
    option {
        /*background-color: #07385c;*/
        background-color:white!important;
       
    }
</style>
    <style>
        tr {
            width: 100%;
            display: inline-table;
            table-layout: fixed;
        }

        table {
            height: 500px !important;
            display: -moz-groupbox;
        }

        tbody {
            overflow-y: scroll !important;
            overflow-x: hidden;
            height: 400px !important;
            width: 100%;

        }

        @media screen and (max-width: 767px) {
            .table-responsive {
                width: 100%;
                margin-bottom: 15px;
                overflow-y: hidden;
                -ms-overflow-style: -ms-autohiding-scrollbar;
                border: 1px solid #ddd;
            }

            .table-responsive > .table {
                margin-bottom: 0;
            }

            .table-responsive > .table > thead > tr > th,
            .table-responsive > .table > tbody > tr > th,
            .table-responsive > .table > tfoot > tr > th,
            .table-responsive > .table > thead > tr > td,
            .table-responsive > .table > tbody > tr > td,
            .table-responsive > .table > tfoot > tr > td {
                white-space: nowrap;
            }

            .table-responsive > .table-bordered {
                border: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:first-child,
            .table-responsive > .table-bordered > tbody > tr > th:first-child,
            .table-responsive > .table-bordered > tfoot > tr > th:first-child,
            .table-responsive > .table-bordered > thead > tr > td:first-child,
            .table-responsive > .table-bordered > tbody > tr > td:first-child,
            .table-responsive > .table-bordered > tfoot > tr > td:first-child {
                border-left: 0;
            }

            .table-responsive > .table-bordered > thead > tr > th:last-child,
            .table-responsive > .table-bordered > tbody > tr > th:last-child,
            .table-responsive > .table-bordered > tfoot > tr > th:last-child,
            .table-responsive > .table-bordered > thead > tr > td:last-child,
            .table-responsive > .table-bordered > tbody > tr > td:last-child,
            .table-responsive > .table-bordered > tfoot > tr > td:last-child {
                border-right: 0;
            }

            .table-responsive > .table-bordered > tbody > tr:last-child > th,
            .table-responsive > .table-bordered > tfoot > tr:last-child > th,
            .table-responsive > .table-bordered > tbody > tr:last-child > td,
            .table-responsive > .table-bordered > tfoot > tr:last-child > td {
                border-bottom: 0;
            }
        }
    </style>
    <div class="row">
  
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <table class="table table-responsive text-dark pt-2 border table-striped" id="All_Users_Groups" style="width:100%">
                <thead>
                <tr>

                    <th scope="col">Group ID</th>
                    <th scope="col">Group  Name</th>
                    <th scope="col">Add Users</th>
                    <th scope="col">Operation</th>

                </tr>
                </thead>
                <tbody>
                {% for group in All_Users_Groups %}
                    <tr>
                        <th scope="row">{{ group.id|default:"N/A"}}</th>
                        <td>{{ group.name|default:"N/A"}}</td>
                        
                        <td><button type="button" class="btn btn-success addUsersToGroup" data-toggle="modal" data-id="{{group.id}}" data-target="#addUsersToGroup">
                            <i class="fa fa-plus text-white">Add Users </i>
                           </button></td>
                        <td> <a class="badge badge-dark" href=""><i class="fa fa-trash text-danger"></i></a>
                            <a class="badge badge-success" href=""><i class="fa fa-eye text-white"></i></a>
                           
                        </td>
                    </tr>
                    
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--  -->
        <!-- Modal ADD USER TO GROUP -->
        <div class="modal fade " id="addUsersToGroup" tabindex="-1" role="dialog" aria-labelledby="addUsersToGroupLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addUsersToGroupModalLabel">Add Users To Group</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form method="POST"  action="{% url 'User_Accounts_Management_Unit:add_users_to_groups'%}" >
                    {% csrf_token %}
                    <div class="form-group">
                       <input type="hidden" name="groupId" id="groupId" />
                    </div>
                <div class="d-flex flex-row justify-content-around align-items-center ">
                   <label for="user-names">Select Users</label>
                    <select name="user_names[]" id="users_names" class="selectpicker" multiple data-live-search="true" style="width:250px;" multiple required="required" >
                      
                        {% for user in All_Users %}
                        <option value="{{user.id}}" style="color:black!important;">{{user.first_name}}</option>
                        {% endfor %}
                    </select>
                </div>
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Create Group</button>
                </form>
                </div>
              </div>
            </div>
          </div>
    <!-- Modal ADD GROUP -->
<div class="modal fade" id="addUserGroupModal" tabindex="-1" role="dialog" aria-labelledby="addUserGroupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserGroupModalLabel">Add User Group</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST"  action="{% url 'User_Accounts_Management_Unit:add_user_group' %}" >
            {% csrf_token %}
        <div class="d-flex flex-row justify-content-around align-items-center ">
            <label for="group_name">
               Group Name 
            </label>
                <input type="text" class="form-control " minlength="3" maxlength="10" name="group_name" style="width:250px;" required="required" />
            
        </div>
        
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Create Group</button>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}>
{% block base_js %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script defer type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            $('#All_Users_Groups').DataTable();
        });
        //add Group id to modal hiddeen field on click so that we can add suer by fecthing that group 
        $(document).on("click", ".addUsersToGroup", function () {
            var mygroupId = $(this).data('id');
            $(".modal-body #groupId").val( mygroupId );
            console.log($('#groupId').val(mygroupId))            
         
       });
    </script>
    <script>
        window.document.title = "Target";
    </script>

{% endblock %}
