body {
    background: url("{% static 'images/background_gradient.svg' %}") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
    font-family: 'Raleway' !important;
}


#control-msg-box {
    height: 150px;;
    overflow-y: auto;
    padding-left: 10px !important;;
    padding-top: 5px !important;;
    padding-bottom: 5px !important;;
}

.chart_label {
    background-color: #1cb5e0;
    width: 150px;

}

.loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader > img {
    width: 100px;
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

.custom_badge {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            93deg,
            rgba(24, 72, 116, 1) 0%,
            rgba(6, 17, 26, 1) 100%);
}

.topcontentbar {
    border-radius: 20px 20px 0 0 !important;
    background: linear-gradient(
            90deg,
            rgba(0, 32, 44, 90%) 0%,
            rgba(0, 46, 69, 90%) 28%,
            rgba(0, 83, 135, 82%) 72%,
            rgba(0, 113, 188, 80%) 100%
    );
    border-bottom: 1px solid #707070;
}

.background {
    background: #012847 !important;
}

.notification_border_white {
    border-color: #D5D5D5 !important;
}

.notification_border_blue {
    border-color: #2A77B2 !important;
}
