{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% load osint_custom_tags %}
{% block page_title %}Bulk Targets{% endblock %}
{% block head_dep %}
    <!-- Stylesheet -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link href=" {% static 'Keybase_Management_System/tagsinput.css' %}" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}">


{% endblock %}

{% block belly %}
       {% now "SHORT_DATE_FORMAT"  as date %}
    <style>


        .card_header_text {
            font-size: 25px;
            color: white;
            padding-top: 13px;
            padding-left: 20px;
            letter-spacing: 10px;
        }

        #submit {
            background: rgb(24, 72, 116);
            background: linear-gradient(
                    93deg,
                    rgba(24, 72, 116, 1) 0%,
                    rgba(6, 17, 26, 1) 100%
            );
            color: #fff;
        }
    input[type="text"]{
        color:black!important;
        }

    </style>
    <div class="row ">
        <div class="col-md-12 col-lg-12 col-sm-12 col-md-12 custom_header m-0 p-0 "
             style="border-radius: 20px 20px 0px 0px;">
            <h4 class="card_header_text" style="color: white">BULK TARGETS</h4>
        </div>

        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 custom_main_background ">

            <div class="row">
                <!-- RPW FOR SOCIAL MEDIA -->
                <!-- Second row-->
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 mt-5">

                    <form method="post" role="form"
                          class="justify-content-center  pt-3 pb-5 pl-5 pr-3 custom_inner_background inner_form_margin_radius"
                          action="/tms/bulk_targets/">
                        {% csrf_token %}
                        <div class="row input-group mt-4 mb-3">
                            <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Select Website
                                        </span>
                            </div>
                            <select name="website" id="website" class="col-md-9 form-control custom_input_field"
                                    required="required">
                                <option value="">Select Website</option>
                                {% for i in social_sites %}
                                    <p class="text-dark">  {{ i.name }}</p>
                                    <option value="{{ i.id }}">{{ i.name }}</option>
                                {% endfor %}
                            </select>
                        </div>




                        <div class="row input-group mt-4 mb-3">
                            <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Target Type
                                        </span>
                            </div>
                            <div class="col-md-9 form-control custom_input_field p-0" id="target_type_div">
                                <select name="target_type" class="col-md-12 form-control custom_input_field"
                                        id="target_type"
                                        required="required">
                                    <option value="">Select Target Type</option>

                                </select>
                            </div>

                        </div>



                        <div class="row input-group mt-4 mb-3">
                            <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Periodic Interval
                                        </span>
                            </div>
                            <select name="interval" id="interval" class="col-md-9 form-control custom_input_field"
                                    required="required">
                                <option value="">Select Interval</option>
                                {% for interval in intervals.0 %}
                                    <option value="{{ interval.0 }}">{{ interval.1 }}</option>

                                {% endfor %}
                            </select>
                        </div>


                        <div class="row input-group mt-4 mb-3">
                            <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">User Names
                                        </span>
                            </div>

                            <div class="col-md-9 form-control custom_input_field p-0">
                                <input type="text" data-role="tagsinput" value=""
                                       class="custom_input_field"
                                       required="required"
                                       id="usernames" name="usernames"/>
                            </div>


                        </div>



                        <div class="row input-group mt-4 mb-3">
                            <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Expired On
                                        </span>
                            </div>
                            <input type="date" class="col-md-9 form-control custom_input_field" id="expired_on"
                                   name="expired_on"
                                   type="date" min='{{ date|to_and }}'
                                                                   max='2020-31-12' value="{{ date|to_and }}"
                                   required="required"/>
                        </div>



                        <div class="row input-group mt-4 mb-3">
                            <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="custom_label_input_field" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Screenshots
                                        </span>
                            </div>

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6 mt-2">
                                        <label class="d-flex flex-row justify-content-center align-items-center">
                                            <input type="checkbox"
                                                   id="screenshots"
                                                   name="screenshots"
                                                   value="1"/>
                                            <span class="badge badge-success ml-2">   Yes</span>
                                        </label>
                                    </div>

                                    <div class="col-md-6 mt-2">
                                        <label class="d-flex flex-row justify-content-center align-items-center ">
                                            <input type="checkbox"
                                                   id="screenshots"
                                                   name="screenshots"
                                                   value="0"/>
                                            <span class="badge badge-danger ml-2">          No</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>


                        </div>


                        <!-- Button -->
                        <div class="row input_wrapper_row">
                            <div class="col-md-6"></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2">
                                <input type="submit"
                                       class="btn border font-weight-bold btn-sm w-100  text-white"
                                       value="submit"
                                       name="submit" id="submit">
                            </div>
                        </div>



                    </form>

                </div>
            </div>
        </div>

    </div>


{% endblock %}
{% block foot_dep %}

    <!-- JavaScript -->

    <script src=" {% static 'Keybase_Management_System/tagsinput.js' %}"></script>

    <script defer src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <script defer src="{% static 'Keybase_Management_System/js/creation.js' %}"></script>

    <script>
        $(document).ready(function () {

            $("#website").change(function () {
                var website = $(this).children("option:selected").text();
                if (website == 'Facebook') {
                    var html = '<select name="target_type" id="target_type" required="required" class="col-md-12 form-control custom_input_field"><option value="">Select Target Type</option><option value="1">page</option><option value="0">person</option><option value="2">group</option></select>'
                    $('#target_type_div').empty().append(html)
                } else if (website == 'Twitter') {
                    var html = '<select name="target_type" id="target_type" required="required" class="col-md-12 form-control custom_input_field"><option value="">Select Target Type</option><option value="0">profile</option></select>'
                    $('#target_type_div').empty().append(html)
                } else if (website == 'Instagram') {
                    var html = '<select name="target_type" id="target_type" required="required" class="col-md-12 form-control custom_input_field"><option value="">Select Target Type</option><option value="0">profile</option></select>'
                    $('#target_type_div').empty().append(html)
                } else if (website == 'Linkedin') {
                    var html = '<select name="target_type" id="target_type" required="required" class="col-md-12 form-control custom_input_field"><option value="">Select Target Type</option><option value="0">profile</option><option value="1">company</option></select>'
                    $('#target_type_div').empty().append(html)
                } else if (website == 'Reddit') {
                    var html = '<select name="target_type" id="target_type" required="required" class="col-md-12 form-control custom_input_field"><option value="">Select Target Type</option><option value="0">profile</option><option value="1">subreddit</option></select>'
                    $('#target_type_div').empty().append(html)
                } else if (website == 'Youtube') {
                    var html = '<select name="target_type" id="target_type" required="required" class="col-md-12 form-control custom_input_field"><option value="">Select Target Type</option><option value="0">channel</option></select>'
                    $('#target_type_div').empty().append(html)
                }
            });
        });

    </script>

{% endblock %}
