{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'Additional_assets/main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'Additional_assets/main/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'Additional_assets/main/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/fontawesome.min.css"
          integrity="sha256-CuUPKpitgFmSNQuPDL5cEfPOOJT/+bwUlhfumDJ9CI4=" crossorigin="anonymous">
    <style>

        .text_12px {
            font-size: 12px;;
        }

        .text_14px {
            font-size: 14px;;
        }

        .text_15px {
            font-size: 15px;;
        }


        .border_radius_5px {
            border-radius: 5px !important;
        }

        .background-gradient-dark {
            background: linear-gradient(0deg, rgba(24, 72, 116, 1) 0%, rgba(6, 17, 26, 1) 100%) !important;
        }

        .d-flex flex-row justify-content-start align-items-center {
            display: flex !important;
            flex-direction: row !important;
            justify-content: center !important;
            align-items: center !important;
        }

        .custom-column-center-center {
            display: flex !important;
            flex-direction: column !important;
            justify-content: center !important;
            align-items: center !important;
        }

        .full_space {
            height: 100% !important;
            width: 100% !important;
        }

    </style>
    <style>
        html {
            --scrollbarBG: #CFD8DC;
            --thumbBG: #90A4AE;
        }

        ::-webkit-scrollbar {
            width: 7px;
            scrollbar-width: thin;
            scrollbar-color: var(--thumbBG) var(--scrollbarBG);
        }

        ::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }

        ::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG);
            border-radius: 6px;
            border: 3px solid var(--scrollbarBG);
        }
    </style>
    <style>
        .profile-img-wrapper {
            border: 4px solid white;
            height: 250px;
            width: 250px;
            border-radius: 10px;
        }

        .label {
            color: white
        }

        .header-icons {
            border: 1px solid white;
            padding: 5px;
            border-radius: 5px;
            background-color: white;;
        }

        .header-text {
            font-size: 16px !important;;
            width: 200px;;
            text-align: left;
        }

    </style>
    <!-- categorization styling  -->
    <style>
        .stamp {
            transform: rotate(12deg);
            color: #000;
            font-size: 3rem;
            font-weight: 700;
            border: 0.25rem solid #000;
            display: inline-block;
            padding: 0.25rem 1rem;
            text-transform: uppercase;
            border-radius: 1rem;
            font-family: 'Courier';
            -webkit-mask-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png');
            -webkit-mask-size: 944px 604px;
            /*mix-blend-mode: multiply;*/
        }

        .is-draft {
            color: #535353;
            border: 1rem double #535353;
            transform: rotate(-5deg);
            font-size: 1rem;
            font-family: "Open sans", Helvetica, Arial, sans-serif;
            border-radius: 0;
            padding: 0.5rem;
        }
    </style>
    <!-- end categorization styling  -->
</head>
<body>
<div class="container-fluid wrapper background-gradient-dark">
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="row background-gradient-dark border_radius_5px ">
                <div class="col-md-4  custom-column-center-center">
                    <div class="profile-img-wrapper ">
                        <img src="{{ profile.profile_picture_url }}" class="border_radius_5px img-fluid full_space">
                    </div>
                    <div>
                        <a href="" target="_blank" class="badge-success text_14px mt-2">
                            <i class="fa fa-eye text-dark header-icons mr-2"></i> View profile
                        </a>
                    </div>
                </div>
                <div class="col-md-8  background-gradient-dark p-5">
                    <div class="row  p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fa fa-user text-dark header-icons fa-2x mr-2 "></i>Full Name
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                                <span class="badge-light header-text">
                                                    {{ profile.fullname|default:"N/A" }}
                                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row  p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fa fa-user text-dark header-icons fa-2x mr-2 "></i>User Name
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                                <span class="badge-light header-text">
                                                    {{ profile.username|default:"N/A" }}
                                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fas fa-compass text-dark header-icons fa-2x mr-2  mr-2"></i>
                                Followers
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                                <span class="badge-light header-text">
                                                    {{ profile.follow|default:"N/A" }}
                                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fa fa-fingerprint text-dark header-icons fa-2x mr-2  mr-2"></i>
                                Followed By
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                                <span class="badge-light header-text">
                                                    {{ profile.followed_by|default:"N/A" }}
                                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fa fa-eye text-dark header-icons fa-2x mr-2  "></i> Bio-Graphy
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">

                            <label class="badge-light label text_15px text-dark font-weight-bold border_radius_5px p-1">
                                <span class=" header-text"> {{ profile.biography|default:"N/A" }} </span>
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fa fa-eye text-dark header-icons fa-2x mr-2  "></i> Person ID
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                                <span class="badge-light header-text">
                                                    {{ profile.person_id|default:"N/A" }}
                                                </span>
                            </label>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                <i class="fa fa-eye text-dark header-icons fa-2x mr-2  "></i> Behaviour
                            </label>
                        </div>
                        <div class="col-md-6 d-flex flex-row justify-content-start align-items-center">
                            <label class="label text_15px font-weight-bold ">
                                                <span class="badge-light header-text">
                                                    {{ profile.behaviour|default:"N/A" }}
                                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            -->
            <div class="row ">
                <div class="col-md-12 m-0 p-0">
                    <div class="tab-content">
                        <div id="profile" class="">
                            <div class="col-md-12 card p-2">
                                <h2 class="text-dark">Profile</h2>
                                <div class="card-header text-dark border"
                                     style="border-radius: 20px 20px 0px 0px;">
                                    Profile Summary
                                </div>
                                <div class="card-body text-dark border">
                                    {{ profile.profile_summary|default:"N/A" }}
                                </div>
                                <div class="card-header text-dark border">
                                    Sentiments
                                </div>
                                <div class="card-body text-dark border">
                                    <i class="fas fa-thumbs-up text-dark ml-5 mr-2"></i>: <span
                                        class="mr-4"> {{ profile.sentiments.0 }}</span>

                                    <i class="fas fa-thumbs-down text-dark ml-5 mr-2"></i>: <span
                                        class="mr-4"> {{ profile.sentiments.1 }}</span>
                                </div>
                                <div class="card-header text-dark border">
                                    Common words
                                </div>
                                <div class="card-body text-dark border">
                                    {% for sentiment in profile.comm %}
                                        <span class="badge-info ">{{ sentiment }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- instagram posts  -->
                        <div id="posts" class="bg-white">
                            <h2 class="text-dark">Posts</h2>
                            <div class="row m-0 p-0 bg-white">
                                {% for post in profile.posts %}
                                    <div class="col-md-6 p-2">
                                        <div class="card border h-100 p-0 p-0">
                                            <div class="card-header">
                                                <div class="row d-flex flex-row justify-content-center align-items-center">
                                                    <div class="col-md-4 text_14px"><span
                                                            class="text-dark font-weight-bold">Post #
                                                        {{ forloop.counter }}</span></div>
                                                    <div class="col-md-4 text_14px d-flex flex-row justify-content-center align-items-center"> <span
                                                            class="badge-light">{{ post.owner_username }}</span>
                                                    </div>
                                                    <div class="col-md-4  text-right">
                                                        <i class="fab fa-instagram fa-2x text-dark"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row text-dark">
                                                    <div class="col-md-12 text-center m-0 p-0">
                                                        <img src="{{ post.display_url }}"
                                                             class="img-fluid img-responsive"
                                                             style="height:250px;width:100%;">
                                                    </div>
                                                    <div class="col-md-12 text_12px m-0 p-0">
                                                        {{ post.caption }}
                                                    </div>
                                                    {% if post.categorization %}


                                                        <div class="col-md-12 mt-3">
                                                            {% for category in post.categorization %}
                                                                <span class="stamp  is-draft"><span>
                                                                                        {{ category|default:"N/A" }}
                                                                                    </span></span>
                                                            {% endfor %}
                                                        </div>
                                                    {% else %}
                                                        <span class="stamp  is-draft"><span>
                                                                                No-Categorization
                                                                            </span></span>
                                                    {% endif %}
                                                </div>


                                            </div>
                                            <div class="card-footer">
                                                                    <span class="badge-light float-left"> Likes :
                                                                        {{ post.likes_count }}</span>
                                                <span class="badge-light float-right"> Comments :
                                                    {{ post.comments_count }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- end instagram posts -->
                        <!-- followers tabs  -->
                        <div id="followers" class="bg-white">
                            <h2 class="text-dark">Followers</h2>
                            <div class="row m-0 p-0 bg-white">
                                {% for i in profile.followers %}
                                    <div class="col-md-4 mt-2">
                                        <div class="card border">
                                            <div class="card-header d-flex flex-row justify-content-center align-items-center m-0 p-0 ">
                                                {% if i.picture_image_url %}
                                                    <img src="{{ i.picture_image_url }}"
                                                         style="height:60px;width:60px;border-radius:50%;"
                                                         class="img-fluid"/>
                                                {% else %}
                                                    <img src="/static/images/heliports_image_placeholder.jpg"
                                                         style="height:60px;width:60px;border-radius:50%;"
                                                         class="img-fluid"/>
                                                {% endif %}
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-12 m-0 p-0 ">
                                                        <div><span class=" w-25 text-left">Full Name:</span> <span
                                                                class="badge-light">{{ i.full_name }}</span></div>
                                                        <div><span class=" w-25 text-left">User-Name:</span> <span
                                                                class="badge-light">{{ i.username }}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- end followers pane -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<script type="text/javascript" src="{% static 'Additional_assets/main/js/slim.min.js' %}"></script>
<script>
    $(document).ready(function () {
        window.print();
    });
</script>

</body>
</html>
