{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Link Ananlysis | PMS</title>
        
<style>
   #chartdiv {
      width:100%;
      min-width:1000px;
      height:1000px;
      overflow:scroll!important;
      background-color: #252729 !important;background-color: #252729 !important;
   }
   </style>
  </head>
  <body>


<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/bullets.js"></script>

<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
chart.maskBullets = false;

// Remove padding
chart.paddingBottom = 0;
chart.paddingTop = 0;
//chart.layoutAlgorithm = chart.sliceDice;
//chart.horizontalMouseWheelBehavior = "zoomx";

//chart.zoomOutButton.dispatchImmediately("hit");

var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

var data = []
for(var i = 0; i < 5; i++){
  data.push({name: "Node " + i, value:Math.random() * 50 + 10});



}


//chart.dataSource.parser = new am4core.JSONParser();
console.log('{{ data }}')
//chart.data = data;


networkSeries.dataFields.value = "value";
networkSeries.dataFields.name = "name";
networkSeries.dataFields.children = "children";
networkSeries.nodes.template.tooltipText = "{name}:{value}";
networkSeries.nodes.template.fillOpacity = 1;
networkSeries.dataFields.id = "name";


//networkSeries.dataFields.fixed = "fixed"
networkSeries.dataFields.linkWith = "linkWith";
networkSeries.links.template.strokeWidth = 3;
networkSeries.links.template.strokeOpacity = 1;






//add label of node 
networkSeries.nodes.template.label.text = "{name}";
networkSeries.fontSize = 10;
//end add label below a node



// controls size of circles
networkSeries.nodes.template.label.hidden = true;
networkSeries.minRadius = 30;
networkSeries.maxRadius = 30;
//end controls size of nodes



networkSeries.manyBodyStrength = -50;
networkSeries.links.template.distance = 1;
networkSeries.links.template.strength = 0.5;  // maximum should be 1




networkSeries.data = JSON.parse('{{ data | escapejs }}');







var selectedNode;

var label = chart.createChild(am4core.Label);
label.text = "{name}"
label.x = 50;
label.y = 50;
label.isMeasured = false;

networkSeries.events.on("over", function (event) {
    var dataItem = event.target.dataItem;
    dataItem.childLinks.each(function (link) {
        link.isHover = true;
    })
})

networkSeries.events.on("out", function (event) {

        console.log('in hover out event')

    var dataItem = event.target.dataItem;
    dataItem.childLinks.each(function (link) {
        link.isHover = false;
    })
})

    var mouse_x;
    var mouse_y;

onmousemove = function(e){
    mouse_x = e.clientX;
    mouse_y = e.clientY;
    //console.log("mouse location:", e.clientX, e.clientY)
     }


/*
networkSeries.nodes.template.events.on("dragstop", function (event) {

    var node = event.target;
    console.log(node.group._x,node.group._y);
    node.fixed = false;
    console.log(node.fx,node.fy);

    node.fx = node.group._x;
    node.fy = node.group._y;
    node.fixed = false;

})
*/
/*
networkSeries.nodes.template.events.on("rightclick", function (event) {
    console.log('in linkevent')
  var node = event.target;
  if (!selectedNode) {
    node.outerCircle.disabled = false;
    node.outerCircle.strokeDasharray = "12,12";
    selectedNode = node;
  }
  else if (selectedNode == node) {
    node.outerCircle.disabled = true;
    node.outerCircle.strokeDasharray = "";
    selectedNode = undefined;
  }
  else {
    var node = event.target;

    var link = node.linksWith.getKey(selectedNode.uid);

    if (link) {
      node.unlinkWith(selectedNode);
    }
    else {
      node.linkWith(selectedNode, 0.00001);
    }
  }
})
*/

/*
networkSeries.data = [
   {
      "name":"Joey",
      "fixed":true,
       "collapsed":false,
       "value":88,
       "image": "https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-160/icon_chrome.svg",

      "linkWith":[
         "Phoebe",
         "Janice",
         "Mrs Green",
         "Kathy",
         "Emily",
         "Charlie"
      ],
      "children":[
         {
            "name":"Lorraine",
            "value":2
         },
         {
            "name":"Melanie",
            "value":2
         },
         {
            "name":"Erica",
            "value":2
         },
         {
            "name":"Kate",
            "value":4
         },
         {
            "name":"Lauren",
            "value":2
         },
         {
            "name":"Estelle",
            "value":1
         },
         {
            "name":"Katie",
            "value":2
         },
         {
            "name":"Janine",
            "value":9
         },
         {
            "name":"Erin",
            "value":1
         },
         {
            "name":"Cecilia",
            "value":3
         }
      ]
   }
];
*/

networkSeries.nodes.template.circle.disabled = false;
networkSeries.nodes.template.outerCircle.disabled = false;

// Configure icons
var icon = networkSeries.nodes.template.createChild(am4plugins_bullets.PinBullet);
icon.image = new am4core.Image();
icon.image.propertyFields.href = "image";
icon.circle.radius = am4core.percent(100);
icon.circle.strokeWidth = 0;
icon.background.pointerLength = 0;
icon.background.disabled = true;



}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="chartdiv"></div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>