{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_dynamiccrawling.css' %}">
{% endblock %}

{% block smallnavbar %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex" style="">
        <div class="col-md-1">
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu">
            <a href="{% url 'Target_Management_System:tms_marktarget' %}" class="btn secondnavitems "> MARK</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
            <a href="{% url 'Target_Management_System:tms_fetchtarget' %}" class="btn secondnavitems "> FETCH</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
            <a href="{% url 'Target_Management_System:tms_identifytarget' %}" class="btn secondnavitems "> IDENTIFY</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
            <a href="{% url 'Target_Management_System:tms_internetsurvey' %}" class="btn secondnavitems "> SURVEY</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu secondnavactive">
            <a href="{% url 'Target_Management_System:tms_dynamiccrawling' %}" class="btn secondnavitems "> CRAWLING</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
{% block belly %}
<div class="row middlecontentdiv">
    <div class="col-md-12 col-lg-12 col-sm-12 col-md-12 topcontentbar ">
        <h4 class="topheading">Time Line</h4>
    </div>
    <!-- end of top row -->
    <!-- inside main container -->
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 mt-5  ">
 {% for post in posts %}
    <div class="card text-center">
  <div class="card-header">
    {{ post.username }}
  </div>
  <div class="card-body">
    <h5 class="card-title"><a href="{{ post.a_url }}" target="_blank" >{{ post.author }}</a></h5>
    <p class="card-text">{{ post.text }}</p>
      <div class="row">
          <div class="col-md-12">
              {% if post.picture|length > 0 %}
              <img class="img-fluid" src="{{ post.picture }}">
                {% endif %}
          </div>


      </div>
    <a href="{{ post.link }}" class="btn btn-primary">post</a>

  </div>
  <div class="card-footer text-muted">
   site: {{ post.t_site }} type : {{ post.t_type }}
  </div>
</div>
{% endfor %}

    </div>
</div>
{% endblock %}>