{% extends 'OSINT_System_Core/resp_test.html' %} {% load static %} {% block head_dep %}
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_dynamiccrawling.css' %}"> {% endblock %}
{% block smallnavbar %}




{% endblock %}
{% block belly_header %}
<p class="text-uppercase custom_card_title ">TIMELINE</p>
{% endblock %}


{% block belly %}
    <style>
        .glowing_border {
            border: 1px solid #1cb5e0;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            -webkit-box-shadow: 0px 0px 4px #1cb5e0;
            -moz-box-shadow: 0px 0px 4px #1cb5e0;
            box-shadow: 0px 0px 4px #1cb5e0;
        }

        .transparent {
            background: transparent !important;
        }

        .custom_icons {
            border: 1px solid #fff;
            width: 40px;
            border-radius: 5px;
            height: 40px;
            margin: 10px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: linear-gradient(93deg, rgba(24, 72, 116, 1) 0%, rgba(6, 17, 26, 1) 100%);
        }
    </style>
    <div class="row middlecontentdiv h-100">
       
        <div class="col-md-12 h-100  " >
            <div class="row">
                <div class="col-md-12  " id="timeline_content">


                </div>
                <div class="col-md-4 text-center">


                </div>
                <div class="col-md-4 mt-2 text-center d-flex flex-row justify-content-between align-items-center">
                    <button type="button" class="btn btn-outline-light  btn-lg" onclick="fetch_timeline_content(20)">
                        Load
                        More
                    </button>
                    <span> <i class="fas fa-spinner fa-pulse fa-4x text-white " id="loading_icon"></i></span>
                </div>
                <div class="col-md-4 text-center">


                </div>
            </div>

        </div>
    </div>



{% endblock %}>

{% block foot_script %}
    <script>


        $(document).ready(function () {
            console.log("function called")
            fetch_timeline_content(20)
        })

        function fetch_timeline_content(top) {

            console.log("in timline content func")
            $('#loading_icon').show()
            var data = {'top': top};
            $.ajax({
                url: '{% url 'Target_Management_System:timeline_fetch' %}',
                data: data,
                'success': (resp) => {

                    $('#timeline_content').append(resp)
                    console.log(resp)
                    $('#loading_icon').hide()
                },

            });
        }


    </script>{% endblock %}
{% block base_js %}
    <script>
        window.document.title = "Timeline";
    </script>
{% endblock %}
