{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_dynamiccrawling.css' %}">
{% endblock %}

{% block smallnavbar %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex" style="">
        <div class="col-md-1">
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu">
            <a href="{% url 'Target_Management_System:tms_marktarget' %}" class="btn secondnavitems "> MARK</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
            <a href="{% url 'Target_Management_System:tms_fetchtarget' %}" class="btn secondnavitems "> FETCH</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
            <a href="{% url 'Target_Management_System:tms_identifytarget' %}" class="btn secondnavitems "> IDENTIFY</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
            <a href="{% url 'Target_Management_System:tms_internetsurvey' %}" class="btn secondnavitems "> SURVEY</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu secondnavactive">
            <a href="{% url 'Target_Management_System:tms_dynamiccrawling' %}" class="btn secondnavitems "> CRAWLING</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
{% endblock %}
{% block belly %}
<div class="row middlecontentdiv">
    <div class="col-md-12 col-lg-12 col-sm-12 col-md-12 topcontentbar ">
        <h4 class="topheading">Already Created Targets</h4>
    </div>
    <!-- end of top row -->
    <!-- inside main container -->
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 mt-5  ">
       <table class="table" style="color: white">
  <thead>
    <tr>
      <th scope="col">Website</th>
      <th scope="col">Target_Type</th>
      <th scope="col">Title</th>
      <th scope="col">Expired</th>
        <th scope="col">Expire On</th>
        <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  {% for target in targets %}
    <tr>
      <th scope="row">{{target.GTR}}</th>
      <td>{{target.target_type}}</td>
      <td> {% if target.username %}
          {{ target.username }}
      {% elif target.title%}
          {{ target.title }}

          {% else %}
          untitled
          {% endif %}
      </td>
      <td>{{ target.is_expired }}</td>
        <td>{{target.expired_on}}</td>
      <td>Include|Delete</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</table>
    </div>
</div>
{% endblock %}>