{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_internetsurvey.css' %}">
{% endblock %}
{% block smallnavbar %}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-8 d-flex" style="">
            <div class="col-md-1">
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu">
                <a href="{% url 'Target_Management_System:tms_marktarget' %}" class="btn secondnavitems "> MARK</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
                <a href="{% url 'Target_Management_System:tms_fetchtarget' %}" class="btn secondnavitems "> FETCH</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu ">
                <a href="{% url 'Target_Management_System:tms_identifytarget' %}" class="btn secondnavitems ">
                    IDENTIFY</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu glowing_border"> <!-- secondnavactive -->
                <a href="{% url 'Target_Management_System:tms_internetsurvey' %}" class="btn secondnavitems ">
                    SURVEY</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu ">
                <a href="{% url 'Target_Management_System:tms_dynamiccrawling' %}" class="btn secondnavitems ">
                    CRAWLING</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondlastnavmenu ">
                <a href="{% url 'Target_Management_System:tms_keybase_crawling' %}" class="btn secondnavitems ">
                    KEYBASE</a>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
{% endblock %}
{% block belly %}
    <div class="row middlecontentdiv">
        <div class="col-md-12 col-lg-12 col-sm-12 col-md-12 topcontentbar ">
            <h4 class="topheading">Internet Survey</h4>
        </div>
        <!-- end of top row -->
        <!-- inside main container -->
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 lol  mymainbg  ">
            <div class="">
                <!-- RPW FOR SOCIAL MEDIA -->
                <!-- Second row-->
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 mt-5">
                    <!-- FORM start -->
                    <form class="justify-content-center targetform formbg  pt-3 pb-5" method="GET"
                          action="/tms/survey/">
                        {% csrf_token %}
                        <div class="form-group justify-content-center text-center  ">
                            <div style="width:80%;" class="container input1">
                                <!-- textfield 1 -->
                                <!--Tetfield 4 -->
                                <div class="row input-group mt-4 mb-3">
                                    <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="newlabeldesign" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Name Lookup
                                        </span>
                                    </div>
                                    <input type="text" class="col-md-9 form-control newinputdesign"
                                           placeholder="Please enter name here" name="name_lookup">
                                </div>
                                <!--Tetfield 2 -->
                                <!--Tetfield 4 -->
                                <div class="row input-group mt-4 mb-3">
                                    <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="newlabeldesign" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Email Lookup
                                        </span>
                                    </div>
                                    <input type="text" class="col-md-9 form-control  newinputdesign"
                                           placeholder="Please enter your email" name="email_lookup">
                                </div>
                                <!--Tetfield 3 -->
                                <div class="row input-group mt-4 mb-3">
                                    <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="newlabeldesign" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Phone number
                                        </span>
                                    </div>
                                    <input type="number" class="col-md-9 form-control  newinputdesign"
                                           placeholder="Please enter number here" name="phone_lookup">
                                </div>
                                <!--Tetfield 2 -->
                                <!--Tetfield 3 -->
                                <div class="row input-group   mt-4 mb-3">
                                    <div class="col-md-3 p-0 input-group-prepend">
                                        <span class="newlabeldesign" style="font-size:13px;letter-spacing:0.1em;
                                            opacity:0.9; padding:7px 9px 0 10px;">Address Lookup
                                        </span>
                                    </div>
                                    <input type="text" class="col-md-9 form-control  newinputdesign"
                                           placeholder="Please enter Address here" name="address_lookup">
                                </div>
                                <!--Submit Button -->
                                <div class="row input-group   mt-4 mb-3">
                                    <div class="col-md-8 p-0 input-group-prepend">

                                    </div>
                                    <div class=" col-md-1 p-0 m-0">
                                        <i class="fas fa-circle-notch fa-spin" id="loading_icon"
                                           style="margin: 7px 0px 0px 20px"></i>
                                    </div>
                                    <button type="submit" style="float:right"
                                            class="col-md-3 btn btn-secondary searchbutton"
                                            onclick="myFunction()">
                                        SEARCH
                                    </button>

                                </div>
                                <!-- new result section-->
                                {% if results.data %}
                                    <div class="container  d-flex justify-content-center">
                                        <div class="container glowing_border" style="border-radius: 10px 10px 0px 0px;">
                                            <div class="row custom_content_header_text mb-3">
                                                <div class="col-md-12 custom_header text-white pt-2 pb-2"
                                                     style="border-radius: 10px 10px 0px 0px;">
                                                    Results
                                                </div>
                                            </div>
                                            <div class="row" style="overflow-y: auto; height: 500px;">
                                                <div class="col-md-12">
                                                    {% for result in results.data %}
                                                        <div class="row mb-2">
                                                            <div class="card w-100 glowing_border">
                                                                <div class="card-header custom_header text-white">
                                                                    {{ result.meta_title }}
                                                                </div>
                                                                <div class="card-body custom_background text-white">
                                                                    <h5 class="card-title">{{ result.serp_title }}</h5>
                                                                    <p class="card-text">{{ result.serp_snippet }}</p>
                                                                    <a href="{{ result.serp_url }}"
                                                                       class="btn custom_button text-white">visit</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <!--FORM END-->
                </div>
                <!-- below form  -->
                <!-- END OF second row-->
            </div>
        </div>
    </div>

    <script>

        document.getElementById("loading_icon").style.display = "none";

        function myFunction() {
            $('#loading_icon').show();
        }
    </script>
{% endblock %}
{% block base_js %}
    <script>
        window.document.title = "Target";
    </script>
{% endblock %}
