{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'Additional_assets/main/css/bootstrap.min.css'%}">
        <link rel="stylesheet" href="{% static 'Additional_assets/main/css/all.min.css'%}">
        <link rel="stylesheet" href="{% static 'Additional_assets/main/css/style.css'%}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
            integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />
            <title>TMS | Twitter</title>
            <style>
            /* width */
            ::-webkit-scrollbar {
            width: 5px;
            height: 5px;
            }
            /* Track */
            ::-webkit-scrollbar-track {
            background: #f1f1f1;
            }
            /* Handle */
            ::-webkit-scrollbar-thumb {
            background: #888;
            }
            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
            background: #555;
            }
            </style>
            <style>
            .twPc-div {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #e1e8ed;
            border-radius: 6px;
            /*height: 200px;*/
            max-width: 100%; /*// orginal twitter width: 290px; */
            }
            .twPc-bg {
            background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
            background-position: 0 50%;
            background-size: 100% auto;
            border-bottom: 1px solid #e1e8ed;
            border-radius: 4px 4px 0 0;
            height: 200px;
            width: 100%;
            }
            .twPc-block {
            display: block !important;
            }
            .twPc-button {
            margin: 0px -10px 0;
            text-align: right;
            width: 100%;
            }
            .twPc-avatarLink {
            background-color: #fff;
            border-radius: 6px;
            display: inline-block !important;
            float: left;
            margin: -30px 5px 0 8px;
            max-width: 100%;
            padding: 1px;
            vertical-align: bottom;
            }
            .twPc-avatarImg {
            border: 2px solid #fff;
            border-radius: 7px;
            box-sizing: border-box;
            color: #fff;
            height: 72px;
            width: 72px;
            
            }
            .twPc-divUser {
            margin: 5px 0 0;
            }
            .twPc-divName {
            font-size: 18px;
            font-weight: 700;
            line-height: 21px;
            }
            .twPc-divName a {
            color: inherit !important;
            }
            .twPc-divStats {
            margin-left: 11px;
            padding: 10px 0;
            margin-top: 20px;;
            }
            .twPc-Arrange {
            box-sizing: border-box;
            display: table;
            margin: 0;
            min-width: 100%;
            padding: 0;
            table-layout: auto;
            }
            ul.twPc-Arrange {
            list-style: outside none none;
            margin: 0;
            padding: 0;
            }
            .twPc-ArrangeSizeFit {
            display: table-cell;
            padding: 0;
            vertical-align: top;
            }
            .twPc-ArrangeSizeFit a:hover {
            text-decoration: none;
            }
            .twPc-StatValue {
            display: block;
            font-size: 14px;
            font-weight: 500;
            transition: color 0.15s ease-in-out 0s;
            }
            .twPc-StatLabel {
            color: #8899a6;
            font-size: 10px;
            letter-spacing: 0.02em;
            overflow: hidden;
            text-transform: uppercase;
            transition: color 0.15s ease-in-out 0s;
            }
            .twitter-follow-button{
            text-decoration: none;
            
            font-weight: bold;
            
            }
            .card-body{
            font-size: 14px;;
            }
            </style>
        </head>
        <!-- Resources -->
        <script src="https://www.amcharts.com/lib/4/core.js"></script>
        <script src="https://www.amcharts.com/lib/4/charts.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
        <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
        <!-- Chart code -->
        <!-- <script>
        am4core.ready(function() {
        // Themes begin
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end
        // Create chart
        var chart = am4core.create("posting_time_charts", am4charts.XYChart);
        chart.paddingRight = 20;
        var data =  [{
        "year": "1950",
        "value": -0.307
        }, {
        "year": "1951",
        "value": -0.168
        }, {
        "year": "1952",
        "value": -0.073
        }, {
        "year": "1953",
        "value": -0.027
        }, {
        "year": "1954",
        "value": -0.251
        }, {
        "year": "1955",
        "value": -0.281
        }, {
        "year": "1956",
        "value": -0.348
        }, {
        "year": "1957",
        "value": -0.074
        }, {
        "year": "1958",
        "value": -0.011
        }, {
        "year": "1959",
        "value": -0.074
        }, {
        "year": "1960",
        "value": -0.124
        }, {
        "year": "1961",
        "value": -0.024
        }, {
        "year": "1962",
        "value": -0.022
        }, {
        "year": "1963",
        "value": 0
        }, {
        "year": "1964",
        "value": -0.296
        }, {
        "year": "1965",
        "value": -0.217
        }, {
        "year": "1966",
        "value": -0.147
        }, {
        "year": "1967",
        "value": -0.15
        }, {
        "year": "1968",
        "value": -0.16
        }, {
        "year": "1969",
        "value": -0.011
        }, {
        "year": "1970",
        "value": -0.068
        }, {
        "year": "1971",
        "value": -0.19
        }, {
        "year": "1972",
        "value": -0.056
        }, {
        "year": "1973",
        "value": 0.077
        }, {
        "year": "1974",
        "value": -0.213
        }, {
        "year": "1975",
        "value": -0.17
        }, {
        "year": "1976",
        "value": -0.254
        }, {
        "year": "1977",
        "value": 0.019
        }, {
        "year": "1978",
        "value": -0.063
        }, {
        "year": "1979",
        "value": 0.05
        }, {
        "year": "1980",
        "value": 0.077
        }, {
        "year": "1981",
        "value": 0.12
        }, {
        "year": "1982",
        "value": 0.011
        }, {
        "year": "1983",
        "value": 0.177
        }, {
        "year": "1984",
        "value": -0.021
        }, {
        "year": "1985",
        "value": -0.037
        }, {
        "year": "1986",
        "value": 0.03
        }, {
        "year": "1987",
        "value": 0.179
        }, {
        "year": "1988",
        "value": 0.18
        }, {
        "year": "1989",
        "value": 0.104
        }, {
        "year": "1990",
        "value": 0.255
        }, {
        "year": "1991",
        "value": 0.21
        }, {
        "year": "1992",
        "value": 0.065
        }, {
        "year": "1993",
        "value": 0.11
        }, {
        "year": "1994",
        "value": 0.172
        }, {
        "year": "1995",
        "value": 0.269
        }, {
        "year": "1996",
        "value": 0.141
        }, {
        "year": "1997",
        "value": 0.353
        }, {
        "year": "1998",
        "value": 0.548
        }, {
        "year": "1999",
        "value": 0.298
        }, {
        "year": "2000",
        "value": 0.267
        }, {
        "year": "2001",
        "value": 0.411
        }, {
        "year": "2002",
        "value": 0.462
        }, {
        "year": "2003",
        "value": 0.47
        }, {
        "year": "2004",
        "value": 0.445
        }, {
        "year": "2005",
        "value": 0.47
        }];
        chart.data = data;
        chart.dateFormatter.inputDateFormat = "yyyy";
        var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
        dateAxis.renderer.minGridDistance = 50;
        dateAxis.renderer.labels.template.fontSize = 10;
        dateAxis.baseInterval = {timeUnit:"year", count:1};
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.tooltip.disabled = true;
        valueAxis.renderer.labels.template.fontSize = 10;
        var series = chart.series.push(new am4charts.StepLineSeries());
        series.dataFields.dateX = "year";
        series.dataFields.valueY = "value";
        series.tooltipText = "{valueY.value}";
        series.strokeWidth = 3;
        chart.cursor = new am4charts.XYCursor();
        chart.cursor.xAxis = dateAxis;
        chart.cursor.fullWidthLineX = true;
        chart.cursor.lineX.strokeWidth = 0;
        chart.cursor.lineX.fill = chart.colors.getIndex(2);
        chart.cursor.lineX.fillOpacity = 0.1;
        chart.scrollbarX = new am4core.Scrollbar();
        }); // end am4core.ready()
        </script> -->
        <script>
        am4core.ready(function() {
        
        // Themes begin
        am4core.useTheme(am4themes_dark);
        am4core.useTheme(am4themes_animated);
        // Themes end
        
        
        
        // Create chart instance
        var chart = am4core.create("profile_guage", am4charts.RadarChart);
        
        // Add data
        chart.data = [{
        "category": "Likes",
        "value": 80,
        "full": 100
        }, {
        "category": "Followers",
        "value": 35,
        "full": 100
        }, {
        "category": "Follwing",
        "value": 92,
        "full": 100
        }, {
        "category": "Tweets",
        "value": 68,
        "full": 100
        }];
        
        // Make chart not full circle
        chart.startAngle = -90;
        chart.endAngle = 180;
        chart.innerRadius = am4core.percent(20);
        
        // Set number format
        chart.numberFormatter.numberFormat = "#.#'%'";
        
        // Create axes
        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "category";
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.grid.template.strokeOpacity = 0;
        categoryAxis.renderer.labels.template.horizontalCenter = "right";
        categoryAxis.renderer.labels.template.fontWeight = 500;
        categoryAxis.renderer.labels.template.fontSize = 10;

        categoryAxis.renderer.labels.template.adapter.add("fill", function(fill, target) {
        return (target.dataItem.index >= 0) ? chart.colors.getIndex(target.dataItem.index) : fill;
        });
        categoryAxis.renderer.minGridDistance = 10;
        
        var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.grid.template.strokeOpacity = 0;
        valueAxis.min = 0;
        valueAxis.renderer.labels.template.fontSize = 10;
       
        valueAxis.max = 100;
        valueAxis.strictMinMax = true;
     
        // Create series
        var series1 = chart.series.push(new am4charts.RadarColumnSeries());
        series1.dataFields.valueX = "full";
        series1.dataFields.categoryY = "category";
        series1.clustered = false;
        series1.columns.template.fill = new am4core.InterfaceColorSet().getFor("alternativeBackground");
        series1.columns.template.fillOpacity = 0.08;
        series1.columns.template.cornerRadiusTopLeft = 20;
        series1.columns.template.strokeWidth = 0;
        series1.columns.template.radarColumn.cornerRadius = 20;
        
        var series2 = chart.series.push(new am4charts.RadarColumnSeries());
        series2.dataFields.valueX = "value";
        series2.dataFields.categoryY = "category";
        series2.clustered = false;
        series2.columns.template.strokeWidth = 0;
        series2.columns.template.tooltipText = "{category}: [bold]{value}[/]";
        series2.columns.template.radarColumn.cornerRadius = 20;
        
        series2.columns.template.adapter.add("fill", function(fill, target) {
        return chart.colors.getIndex(target.dataItem.index);
        });
        
        // Add cursor
        chart.cursor = new am4charts.RadarCursor();
        
        }); // end am4core.ready()
        </script>
        <body style="
            background: url(/static/images/background_gradient.svg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            ">
            <div class="container-fluid">
                
            <div class="row pl-5 pr-5 pt-3">
                
                <div class="col-md-8">
                    <div class="twPc-div">
                        <a class="twPc-bg twPc-block"></a>
                        <div class="bg-white">
                            <div class="twPc-button">
                                <!-- Twitter Button | you can get from: https://about.twitter.com/tr/resources/buttons#follow -->
                                
                                <script>
                                ! function (d, s, id) {
                                var js, fjs = d.getElementsByTagName(s)[0],
                                p = /^http:/.test(d.location) ? 'http' : 'https';
                                if (!d.getElementById(id)) {
                                js = d.createElement(s);
                                js.id = id;
                                js.src = p + '://platform.twitter.com/widgets.js';
                                fjs.parentNode.insertBefore(js, fjs);
                                }
                                }(document, 'script', 'twitter-wjs');
                                </script>
                                <!-- Twitter Button -->
                            </div>
                            
                            <div class="d-flex flex-row justify-content-start align-items-center">  <!-- style="margin-top:-48px;" -->
                                <a title="Mert S. Kaplan"
                                    href="#"
                                    class="twPc-avatarLink">
                                    <img alt="Mert S. Kaplan"
                                    src="{{tweets.profile_url}}"
                                    class="twPc-avatarImg">
                                </a>
                                <div class="twPc-divUser">
                                    <div class="twPc-divName">
                                        <a
                                        href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg">{{tweets.name}}</a>
                                    </div>
                                    <span>
                                        <a
                                            href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg">@<span>{{tweets.name | default:"maliksblr92"}}</span></a>
                                        </span>
                                        
                                    </div>
                                    <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                        class="twitter-follow-button text-primary nav-link ml-5 " data-show-count="false" data-size="large"
                                    data-show-screen-name="false" class="" data-dnt="true">Webiste @{{tweets.website}}</a>
                                </div>
                                
                                <div class="twPc-divStats">
                                    <ul class="twPc-Arrange">
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                                title="9.840 Tweet">
                                                <span class="twPc-StatLabel twPc-block">Tweets</span>
                                                <span class="twPc-StatValue">{{tweets.tweets_count}}</span>
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                                title="885 Following">
                                                <span class="twPc-StatLabel twPc-block">Following</span>
                                                <span class="twPc-StatValue">{{tweets.following_count}}</span>
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                                title="1.810 Followers">
                                                <span class="twPc-StatLabel twPc-block">Followers</span>
                                                <span class="twPc-StatValue">{{tweets.following_count}}</span>
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                                title="1.810 Followers">
                                                <span class="twPc-StatLabel twPc-block">Likes</span>
                                                <span class="twPc-StatValue">{{tweets.likes_count}}</span>
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                                title="1.810 Followers">
                                                <span class="twPc-StatLabel twPc-block">joined</span>
                                                <span class="twPc-StatValue">{{tweets.joined_twitter}}</span>
                                            </a>
                                        </li>
                                        <li class="twPc-ArrangeSizeFit">
                                            <a href="https://pbs.twimg.com/profile_images/970360541624651776/-3H5TyTo_400x400.jpg"
                                                title="1.810 Followers">
                                                <span class="twPc-StatLabel twPc-block">Location</span>
                                                <span class="twPc-StatValue">{{tweets.location}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-dark border" style="border-radius: 10px 10px 10px 10px; height: 328px;">
                            <div class="col-md-12 text-center text-white text-success font-weight-bold ">
                                Posting Time Chart
                            </div>
                            <!-- <div class="col-md-12 m-0 p-0" style="height: 90%;width:100%;" id="posting_time_charts">
                                
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="row pl-5 pr-5 pt-3">
                    
                    <div class="col-md-8">
                        <div class=" mt-1 card border">
                            <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                        <button class="btn btn-link font-weight-bold" type="button" data-toggle="collapse"
                                        data-target="#profile_summary" aria-expanded="true"
                                        aria-controls="profile_summary">
                                        Profile Summary
                                        </button>
                                        </h2>
                                    </div>
                                    <div id="profile_summary" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <p class=" card-body "> {{tweets.profile_summary}}</p>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                        <button class="btn btn-link font-weight-bold" type="button" data-toggle="collapse"
                                        data-target="#bio_data" aria-expanded="true" aria-controls="bio_data">
                                        Bio Data
                                        </button>
                                        </h2>
                                    </div>
                                    <div id="bio_data" class="collapse " aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <p class=" card-body "> {{tweets.profile_summary}}</p>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                        <button class="btn btn-link font-weight-bold" type="button" data-toggle="collapse"
                                        data-target="#frequent_hashtags" aria-expanded="true" aria-controls="frequent_hashtags">
                                        Frequent Hashtags
                                        </button>
                                        </h2>
                                    </div>
                                    <div id="frequent_hashtags" class="collapse " aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <p class=" card-body "> {{tweets.frequent_hashtags}}</p>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                        <button class="btn btn-link font-weight-bold" type="button" data-toggle="collapse"
                                        data-target="#sentiments" aria-expanded="true" aria-controls="sentiments">
                                        Sentiments
                                        </button>
                                        </h2>
                                    </div>
                                    <div id="sentiments" class="collapse " aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <p class=" card-body "> {{tweets.sentiments}}</p>
                                    </div>
                                </div>
                                
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h2 class="mb-0">
                                        <button class="btn btn-link font-weight-bold" type="button" data-toggle="collapse"
                                        data-target="#common_words" aria-expanded="true" aria-controls="common_words">
                                        Common Words
                                        </button>
                                        </h2>
                                    </div>
                                    <div id="common_words" class="collapse " aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <p class=" card-body "> {{tweets.sentiments}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="bg-dark border" style="border-radius: 10px 10px 10px 10px;">
                            
                            <div class="col-md-12 text-center text-white font-weight-bold text-success">
                                Profile Guage
                            </div>
                            <div class="col-md-12 m-0 p-0 " style="height: 300px;width:100%;" id="profile_guage"></div>
                        </div>
                    </div>
                </div>
                
                
                <div class="row pl-5 pr-5 pt-3">
                    <div class="col-md-12">
                        <div class="row pl-3 pr-3 ">
                            {% for i in tweets.tweets %}
                                <div class="col-md-4 bg-white " style="border: 2px solid #000000; border-radius:10px;">
                                    <div class="row p-2">
                                        <div class="col-md-2 m-0 p-0 d-flex flex-column justify-content-center align-items-center"
                                            style="height:auto;">
                                            <img class="img-fluid " src="{{tweets.profile_url}}"
                                            style="height:50px;width:50px;border-radius:50%;" />
                                            <p style="font-size:12px" class="text-primary font-weight-bold  ">
                                                Tweet # {{ forloop.counter }}
                                            </p>
                                        </div>
                                        <div class="col-md-10 ">
                                            <div class="row">
                                                <div class="col-md-12 d-flex flex-row justify-content-around align-items-center">
                                                    <b class="text-primary border m-0 p-0 col-md-4 " style="font-size:10px;">
                                                    {{i.sentiment}}
                                                    </b>
                                                    <span class="text-primary border m-0 p-0 col-md-4 " style="font-size:12px;">
                                                        @{{i.username_tweet}}.
                                                    </span>
                                                    <span class="text-primary border m-0 p-0 col-md-4 " style="font-size:10px;">
                                                        {{i.datetime_created}}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-dark font-weight-bold "
                                            style="font-size:14px;height:150px;overflow:auto;">
                                            {{i.text}}
                                        </div>
                                        
                                    </div>
                                    <div class="row " style="position:relative;bottom:0px;">
                                        <div class="col-md-3 text-dark d-flex flex-row justify-content-around border m-0 p-0 align-items-center" style="border-radius: 0px 0px 0px 10px;">
                                            <i class=" text-primary fas fa-comment">
                                            </i>
                                            <span style="font-size: 9px;;">
                                                {{i.mentions}}
                                            </span>
                                        </div>
                                        <div
                                            class="col-md-3 text-dark  d-flex flex-row justify-content-around border m-0 p-0 align-items-center">
                                            <i aria-hidden="true" class=" text-primary fa fa-retweet">
                                            </i>
                                            <span style="font-size: 12px;;">
                                                {{i.replies_count}}
                                            </span>
                                        </div>
                                        <div
                                            class="col-md-3 text-dark  d-flex flex-row justify-content-around border m-0 p-0 align-items-center">
                                            <i class=" text-primary fas fa-heart">
                                            </i>
                                            <span style="font-size: 12px;;">
                                                {{i.likes_count}}
                                            </span>
                                        </div>
                                        <div
                                            class="col-md-3 text-dark  d-flex flex-row justify-content-around border m-0 p-0 align-items-center" style="border-radius: 0px 0px 10px 0px;">
                                            <i class=" text-primary fas fa-upload">
                                            </i>
                                            <span style="font-size: 12px;;">
                                                {{i.retweeet_count}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
                
            </div>
            
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
            </script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
            </script>
        </body>
    </html>
