{% extends 'OSINT_System_Core/system_base.html' %}
<DOCTYPE html>
<html>

	<body>
		{% block system_content_block %}
		<!-- code bwtween  -->
		<div class="container-fluid bg-white">
			<div class="row pt-5 pb-5  border border-white">
				<div class="col-md-3">


                    <div id="profile_image" class="" style="height: 100%;width: 100%">
                                <img src="{{ person.profile_url }}" height="300px" width="300px" style="border-radius:50%;border:2px solid black;"/>
                             </div>



				</div>
				<div class="col-md-4">
					<div class="row">
					<div class="col-md-6">
						<ul class="list-group list-group-flush">
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Name:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Twiiter account:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Twitter followers:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Twitter following:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">location</span>		</li>
					</ul>
					</div>

					<div class="col-md-6">
						<ul class="list-group list-group-flush">
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.name }}</strong></li>
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.author_account }}</strong></li>
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.follower_count }}</strong></li>
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.following_count }}</strong></li>
						<li class="list-inline-item p-2">	<strong class="text-dark">{{ person.location }}</strong></li>
					</ul>
					</div>
					</div>




					<div class="col-md-1">

					</div>

				</div>
















					<div class="col-md-4">
					<div class="row">
					<div class="col-md-6">
						<ul class="list-group list-group-flush">
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Website:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Joined_on:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Likes_count:</span></li>
						<li class="list-inline-item p-2"><span class="text-dark font-weight-bold ">Moments:</span></li>

					</ul>
					</div>

					<div class="col-md-6">
						<ul class="list-group list-group-flush">
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.website }}</strong></li>
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.joined_twitter }}</strong></li>
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.likes_count }}</strong></li>
						<li class="list-inline-item p-2"><strong class="text-dark">{{ person.moments }}</strong></li>

					</ul>
					</div>
					</div>




					<div class="col-md-1">

					</div>

				</div>
















			</div>

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8"><div class="profile_summary border border-success col-md-12 ml-auto mr-auto p-2 mt-2 ml-2" style="border-radius:10px 10px 10px 10px!important;border:4px solid !important ">
					<div class="p-2">
						<p class="text-dark font-weight-bold text-center">{{ person.biodata }}</p>
					</div>
				</div></div>
        </div>
			<!-- second row  -->

			<!--end second row   -->
			<!-- third row  -->
			<div class="row mt-5">
				<!-- start of cards  -->


				<div class="col-md-4">
					<div class="card text-center border border-dark" style="border-radius:25px 0px 25px 0px">
						<div class="card-header text-center">
							<span class="text-success font-weight-bold">Close Associates</span>
						</div>
						<div class="card-body">

							<table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th>Name</th>


                                                      </tr>
                                                    </thead>
                                                    <tbody >
                                                     {% for associate in person.close_associates %}
                                                      <tr>
                                                        <td>{{ associate }}</td>

                                                      </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                  </table>
						</div>
						<div class="card-footer text-muted">
							2 days ago
						</div>
					</div>
				</div>


				<div class="col-md-4">
					<div class="card text-center border border-dark" style="border-radius:25px 0px 25px 0px">
						<div class="card-header text-center">
							<span class="text-success font-weight-bold">Frequent Tags</span>
						</div>
						<div class="card-body">

							<table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th>Name</th>


                                                      </tr>
                                                    </thead>
                                                    <tbody >
                                                     {% for associate in person.frequent_hashtags %}
                                                      <tr>
                                                        <td>{{ associate }}</td>

                                                      </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                  </table>
						</div>
						<div class="card-footer text-muted">
							2 days ago
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card text-center border border-dark" style="border-radius:25px 0px 25px 0px">
						<div class="card-header text-center">
							<span class="text-success font-weight-bold">Interests</span>
						</div>
						<div class="card-body">

							<table class="table">
                                                    <thead>
                                                      <tr>
                                                        <th>Name</th>


                                                      </tr>
                                                    </thead>
                                                    <tbody >
                                                     {% for associate in person.interests %}
                                                      <tr>
                                                        <td>{{ associate }}</td>

                                                      </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                  </table>
						</div>
						<div class="card-footer text-muted">
							2 days ago
						</div>
					</div>
				</div>
				<!-- end of cards  -->
			</div>
			<!-- end third row  -->
			<!-- start of fourth row and graphs -->
			<div class="row mt-5 ">
				<div class="col-md-12 text-center text-white mb-5" >
					<p class="btn" style="font-size: 25px!important; background-color: #0E2355;color:white" >Tweets Frequency Graph   </p>
				</div>

				<div class="col-md-12 bg-grey-200 p-2" style="border:10px solid white;">
					<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
				</div>

			</div>
			<!-- end of fourth row and graophs  -->


			<!-- fifth row  -->
			<div class="recent_tweets row mt-5 mb-5 pb-5">
				<div class="col-md-12 text-center pb-5 ">
						<p class="btn" style="font-size: 25px!important; background-color: #0E2355;color:white" >Recent Tweets   </p>
				</div>

                {% for tweet in person.tweets %}

                     <div class="col-md-2 mt-1 mb-2 ">
                      <div class="card" style="border-radius:25px 25px 25px 25px">
                          <div class="card-header m-0 p-2 bg-gray-400" style="border-radius:25px 25px 0px 0px">
                          <i class="fab fa-twitter fa-2x float-right text-info "></i>
                      </div>


						<div class="card-body m-0 p-2 " >

                            <div class="card-text bg-gray-200 text-dark font-weight-bold m-0 p-0"style="height: 190px;overflow: hidden;">
							<p class="p-2">{{ tweet.text }}</p>
                                </div>
							<a href="{{ tweet.url }}" class="btn btn-primary btn-sm fixed-bottom">read more ...</a>

					</div>
                      </div>

				</div>

                {% endfor %}









				<!--  -->










				<!--  -->

			</div>

















			<!-- code between  -->
			<div class="row fixed-bottom">
				<div class="col-md-12 text-center bg-dark" style="background-color: black;">
					<p class="text-dark font-weight-bold ">Osint.com.pk</p>
				</div>
			</div>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
			<!-- Bootstrap tooltips -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
			<!-- Bootstrap core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
			<!-- MDB core JavaScript -->
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
			<script src="https://code.highcharts.com/highcharts.js"></script>
			<script src="https://code.highcharts.com/modules/series-label.js"></script>
			<script src="https://code.highcharts.com/modules/exporting.js"></script>
			<script src="https://code.highcharts.com/modules/export-data.js"></script>
			<script>
				Highcharts.chart('container', {
			chart: {
			type: 'spline'
			},
			title: {
			text: 'Tweets By Close Associates'
			},
			subtitle: {
			text: 'Source: Osint.com'
			},
			xAxis: {
                    categories: [{% for point in person.post_frequency_graph %} "{{ point.0 }}",  {% endfor %}]
			},
			yAxis: {
                title: {
                text: 'Posts'
                },
                labels: {
                formatter: function () {
                return this.value + '°';
                }
                }
			},
			tooltip: {
			crosshairs: true,
			shared: true
			},
			plotOptions: {
			spline: {
			marker: {
			radius: 4,
			lineColor: '#666666',
			lineWidth: 1
			}
			}
			},
			series: [{
			name: 'Post',
			marker: {
			symbol: 'square'
			},
			data: [{% for point in person.post_frequency_graph %} {{ point.1 }},  {% endfor %}]
			}]
			});
			</script>
        {% endblock system_content_block %}
		</body>
	</html>