{% extends 'OSINT_System_Core/system_base.html' %}

{% block system_header_block %}
 <!-- ........................... to add any liberaries in full system headers add you link files in this block .........................  -->

{% block application_header_block %}




    {% endblock application_header_block %}



{% endblock system_header_block %}



{% block system_content_block %}

    {% block application_side_bar_block %}
        <!-- ...........................add the main menu of application in this block .........................  -->
        <ul>
  <li><a href="#home">Author</a></li>
  <li><a href="#news">Website</a></li>
  <li><a href="#contact">Person Accounts</a></li>
  <li><a href="#about">Headlines</a></li>
        <li><a href="#home">ScreenShots</a></li>
  <li><a href="#news">location for tweets</a></li>
  <li><a href="#contact">location for hotspots</a></li>
</ul>



    {% endblock application_side_bar_block %}


    {% block application_content_block %}

        <!-- ...........................add the basic content of this particular application here and can extend this block in other templates of the application .........................  -->


    {% endblock application_content_block %}



{% endblock system_content_block%}