{% extends 'OSINT_System_Core/tmo_base.html' %}
{% load static %}
{% load table_tags %}
{% block Page_Title %}TMO Dashboard{% endblock %} 
{% block Small_Navbar %} 
{% endblock %}
{% block Content_Belly %}
<style>
    td,th{
        font-size: 13px;;
    }
   
</style>

<div id="Facebook_Group_Targets" class="tab-pane fade show active ">
    
       <div class="card">
           <div class="card-header"></div>
           <div class="card-body">
            <div class="table-responsive-sm">          
                <table id="example" class="table display ">
                  <thead>
                    <tr>
                     
                      <th>Username</th>
                      <th>Name</th>
                      <th>URL</th>
                      <th>Type</th>
                      <th>Is Enabled</th>
                      <th>Is Expired</th>
                      <th>Expired On</th>
                      <th>Need Screenshots</th>
                      <th>Periodic Interval</th>
                      <th>Created On</th>
                      <th>Operations</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                   
                    {% for i in Facebook_Targets %}
                    <tr>
             <td>  {{i.username|default:"N/A"|truncatechars:"15"}}</td>
             <td>  {{i.name|default:"N/A"|truncatechars:"15"}}</td>
             <td>  <a href="{{i.url}}" class="badge badge-primary "><i class="fa fa-eye"></i></a></td>
             <td>  {{i.target_type|default:"N/A"|truncatechars:"15"}}</td>
             <td>  {% if i.is_enabled %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
             <td> {% if i.is_expired %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
             <td>  {{i.expired_on|default:"N/A"|truncatechars:"15"}}</td>
             <td>  {% if i.need_screenshots %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
             <td>  {{i.periodic_interval|default:"N/A"|truncatechars:"15"}}</td>
             <td>  {{i.created_on|default:"N/A"|truncatechars:"15"}}</td>
             <td>  </td>

            </tr> 
                    {% endfor %}
                
                
                </tbody>
                </table>
                </div>
           </div>
           <div class="card-fotter"></div>
       </div>
    </div>

   
    
</div>
<div id="Facebook_Page_Targets" class="tab-pane fade "style="height:600px;overflow-y:auto;">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
         <div class="table-responsive-sm">          
             <table id="example" class="table display ">
               <thead>
                 <tr>
                  
                   <th>Username</th>
                   <th>Name</th>
                   <th>URL</th>
                   <th>Type</th>
                   <th>Is Enabled</th>
                   <th>Is Expired</th>
                   <th>Expired On</th>
                   <th>Need Screenshots</th>
                   <th>Periodic Interval</th>
                   <th>Created On</th>
                   <th>Operations</th>
                   
                 </tr>
               </thead>
               <tbody>
                
                 {% for i in Facebook_Targets %}
                 <tr>
          <td>  {{i.username|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {{i.name|default:"N/A"|truncatechars:"15"}}</td>
          <td>  <a href="{{i.url}}" class="badge badge-primary "><i class="fa fa-eye"></i></a></td>
          <td>  {{i.target_type|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {% if i.is_enabled %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
          <td> {% if i.is_expired %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
          <td>  {{i.expired_on|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {% if i.need_screenshots %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
          <td>  {{i.periodic_interval|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {{i.created_on|default:"N/A"|truncatechars:"15"}}</td>
          <td>  </td>

         </tr> 
                 {% endfor %}
             
             
             </tbody>
             </table>
             </div>
        </div>
        <div class="card-fotter"></div>
    </div>
</div>
<div id="Facebook_Person_Targets" class="tab-pane fade "style="height  :600px;overflow-y:auto;">
    <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
         <div class="table-responsive-sm">          
             <table id="example" class="table display ">
               <thead>
                 <tr>
                  
                   <th>Username</th>
                   <th>Name</th>
                   <th>URL</th>
                   <th>Type</th>
                   <th>Is Enabled</th>
                   <th>Is Expired</th>
                   <th>Expired On</th>
                   <th>Need Screenshots</th>
                   <th>Periodic Interval</th>
                   <th>Created On</th>
                   <th>Operations</th>
                   
                 </tr>
               </thead>
               <tbody>
                
                 {% for i in Facebook_Targets %}
                 <tr>
          <td>  {{i.username|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {{i.name|default:"N/A"|truncatechars:"15"}}</td>
          <td>  <a href="{{i.url}}" class="badge badge-primary "><i class="fa fa-eye"></i></a></td>
          <td>  {{i.target_type|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {% if i.is_enabled %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
          <td> {% if i.is_expired %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
          <td>  {{i.expired_on|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {% if i.need_screenshots %} <i class="fas fa-check"></i> {% else %} <i class="fa fa-times" aria-hidden="true"></i> {% endif %}</td>
          <td>  {{i.periodic_interval|default:"N/A"|truncatechars:"15"}}</td>
          <td>  {{i.created_on|default:"N/A"|truncatechars:"15"}}</td>
          <td>  </td>

         </tr> 
                 {% endfor %}
             
             
             </tbody>
             </table>
             </div>
        </div>
        <div class="card-fotter"></div>
    </div>
</div>
  
        




            

            
{% endblock %}
 {% block Footer %}
 
  {% endblock %} 

{% block Scripts %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script defer type="text/javascript" charset="utf8"
              src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
              
<script>
    $(document).ready(function() {
        $('#example').DataTable( {
            order: [[ 6, "desc" ]],
        columnDefs: [
            {
                name: 'username',
                orderable: true,
                searchable: true,
                targets: [0]
            },
            {
                name: 'name',
                orderable: true,
                searchable: true,
                targets: [1]
            }
        ],
            "paging":   true,
            "ordering": true,
            "info":     true,
            "pagingType": "full_numbers"
        } );
    } );
</script>
{% endblock%}