{% extends 'OSINT_System_Core/tso_base.html' %} {% block belly %}
<div class="row">
  <div class="col-lg-6 col-sm-12 col-lg-6 col-lg-6 col-xl-6 col-xs-12">
    <div class="row">
      <div
        class="col-lg-1 col-sm-12 custom_center glowing_border charts_parent_div"
      >
        <p class="text-white charts_header">Social Media</p>
      </div>
      <div class="col-lg-11 col-sm-12  glowing_border chart_container">
        <div id="chart_1" class="m-0 p-3 height_width_100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 col-lg-6 col-lg-6 col-xl-6 col-xs-12">
    <div class="row">
      <div
        class="col-lg-1 col-sm-12 custom_center glowing_border charts_parent_div"
      >
        <p class="text-white charts_header">Social Media</p>
      </div>
      <div class="col-lg-11 col-sm-12 glowing_border chart_container">
        <div id="chart_2" class="m-0 p-3 height_width_100"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-sm-12 col-lg-6 col-lg-6 col-xl-6 col-xs-12">
    <div class="row">
      <div
        class="col-lg-1 col-sm-12 custom_center glowing_border charts_parent_div"
      >
        <p class="text-white charts_header">Social Media</p>
      </div>
      <div class="col-lg-11 col-sm-12 glowing_border chart_container">
        <div id="chart_3" class="m-0 p-3 height_width_100"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12 col-lg-6 col-lg-6 col-xl-6 col-xs-12">
    <div class="row">
      <div
        class="col-lg-1 col-sm-12 custom_center glowing_border charts_parent_div"
      >
        <p class="text-white custom_center    charts_header">
          Social Media
        </p>
      </div>
      <div class="col-lg-11 col-sm-12 glowing_border chart_container ">
        <div id="chart_4" class="m-0 p-3  height_width_100"></div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
