/************8 Faisal CSS ************/
.markTargetDiv {
    border-bottom: 1px solid #1cb5e0;
    height: 20%;
}

/*  TARGET LEFT side  */

.Targetleft {
    border-right: 1px solid #1cb5e0;

    background: linear-gradient(to right, #283e51, #1cb5e0);
    border-radius: 15px 15px 0 0;
}
.myH5 {
    opacity: 0.8;
    padding: 15px 7px 12px 12px;
    letter-spacing: 0.1em;
    color: white;
    font-weight: lighter;
}

.myformlabel {
    font-size: 13px;
    letter-spacing: 0.1em;
    opacity: 0.9;
    padding: 3px 9px 0 10px;
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 80%) 0%,
        rgba(0, 32, 44, 80%) 38%,
        rgba(0, 46, 69, 90%) 68%,
        rgba(0, 83, 135, 100%) 100%
    );
    padding-top: 3px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    border: 1px solid #909090;
}

.myformlabel2 {
    text-align: center;
    font-size: 13px;
    width: 100%;
    letter-spacing: 0.1em;
    opacity: 0.9;

    background: linear-gradient(
        90deg,
        rgba(8, 115, 186, 20%) 0%,
        rgba(130, 147, 158, 20%) 50%,
        rgba(153, 153, 153, 20%) 100%
    );
    color: #fff;
    border: 1px solid #909090;
}

.myselectinput {
    background: linear-gradient(
        90deg,
        rgba(0, 32, 44, 30%) 0%,
        rgba(0, 46, 69, 30%) 28%,
        rgba(0, 83, 135, 32%) 72%,
        rgba(0, 113, 188, 40%) 100%
    );
    border: 1px solid #fff;
    color: #fff;
    border: 1px solid #909090 !important;
    padding-top: 0;
}

.mainbutton {
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 40%) 0%,
        rgba(0, 32, 44, 60%) 38%,
        rgba(0, 46, 69, 70%) 68%,
        rgba(0, 83, 135, 90%) 100%
    );
    font-size: 16px;
    border-radius: 13px;
    padding: 3px 40px;
    border: 1 solid #707070;
}

.middlecontentdiv {
    background-color: #9da3aa;

    border-radius: 20px 20px 0 0;
    width: 100%;
    margin-left: 20px;
}
.topcontentbar {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
        90deg,
        rgba(0, 32, 44, 90%) 0%,
        rgba(0, 46, 69, 90%) 28%,
        rgba(0, 83, 135, 82%) 72%,
        rgba(0, 113, 188, 80%) 100%
    );
    border-bottom: 1px solid #707070;
}

.topheading {
    padding: 0.4em 0 0.3em 0.5em;
    font-size: 1.6em;
    font-weight: lighter;
    opacity: 0.8;
    color: #fff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2em;
}
.insidearea {
    background-image: url("./back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    height: 600px;
}
.socialbox {
    height: 100%;
    margin: 0.2em 0.5em;
    padding: 0.5em 0.2em 0.3em 0.1em;
    border: 1px solid #707070;
    background-color: #012847;
}

option {
    background-color: #012847;
    color: #fff;
}
.targetform {
    margin: 1% 4%;
    border-radius: 15px;
}

.divribbon {
    margin-left: -4%;

    background: linear-gradient(to right, #283e51, #1cb5e0);
    height: 40px;
    width: 90%;
    margin-bottom: 1rem;
}

.socialdiv {
    padding: 10px auto;
    height: 60px;
    width: 60px;
    margin-left: 5%;
    background-color: #012847;
}

.formbg {
    background: linear-gradient(
        90deg,
        rgba(219, 219, 219, 1) 0%,
        rgba(230, 230, 230, 1) 19%,
        rgba(230, 230, 230, 1) 77%,
        rgba(219, 219, 219, 1) 100%
    );
    border: 1 solid #707070;
}

.mymainbg {
    background: linear-gradient(
        0deg,
        rgba(242, 242, 242, 1) 0%,
        rgba(240, 240, 240, 1) 52%,
        rgba(221, 221, 221, 1) 77%,
        rgba(204, 204, 204, 1) 100%
    );
    border: 1 solid #707070;
}

.newinput {
    background: rgb(62, 62, 62);
    background: linear-gradient(
        322deg,
        rgba(62, 62, 62, 40%) 0%,
        rgba(86, 123, 147, 50%) 47%,
        rgba(37, 117, 170, 55%) 75%,
        rgba(37, 117, 170, 66%) 100%
    );
}

.newinputdesign {
    background: rgb(170, 172, 175);
    background: linear-gradient(
        322deg,
        rgba(170, 172, 175, 1) 0%,
        rgba(155, 171, 181, 1) 47%,
        rgba(113, 166, 201, 1) 75%,
        rgba(99, 164, 207, 1) 100%
    );
}

.othercontainer {
    background: rgb(214, 214, 214);
    background: linear-gradient(
        180deg,
        rgba(214, 214, 214, 1) 0%,
        rgba(230, 230, 230, 1) 47%,
        rgba(220, 220, 220, 1) 86%,
        rgba(214, 214, 214, 1) 100%
    );

    border: 1px solid #707070;
    border-radius: 15px;
}

/* the icon section faisal */

.main_card {
    background: #013746;
}
.card_header_text {
    font-size: 25px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
}
.main_card_header {
    background: linear-gradient(to right, #283e51, #1cb5e0);
}
.small_card_warpper {
    border-radius: 10px;
    background: linear-gradient(
        322deg,
        rgba(170, 172, 175, 1) 0%,
        rgba(155, 171, 181, 1) 47%,
        rgba(113, 166, 201, 1) 75%,
        rgba(99, 164, 207, 1) 100%
    );
    margin-left: 1px;
}
.profile_card_avatar {
    height: 85%;
    width: 85%;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid white;
}
.small_card_left_wrapper {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.small_card_right_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.small_card_inputs {
    width: 80%;
    height: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
}
.small_card_scroll {
    border-right: 1px solid white;
    border-radius: 25px;
}
.chain_icon {
    font-size: 10px;
}
.eye_icon {
    font-size: 10px;
}

/* end of icon css */

.iconlabel {
    width: 50%;
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );
    border-radius: 0 10px 10px 0;
}

.searchbtn {
    padding: 2px 4rem;
    background: rgb(170, 172, 175);
    background: linear-gradient(
        322deg,
        rgba(170, 172, 175, 1) 0%,
        rgba(155, 171, 181, 1) 47%,
        rgba(113, 166, 201, 1) 75%,
        rgba(99, 164, 207, 1) 100%
    );
}

.iconify {
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );
}

/* Dynaminc Crawling */

.resultright {
    border-right: 1px solid #707070;
}

.newlabeldesign {
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );
    color: #fff;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.searchbutton {
    border-radius: 12px;
    background: rgb(24, 72, 116);
    background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%
    );

    padding: 4px 3rem;
    letter-spacing: 0.1rem;
    font-size: 16px;
}

/* just take easy */

#tabs {
    background: #007b5e;
    color: #eee;
}
#tabs h6.section-title {
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #f3f3f3;
    background-color: transparent;
    border: none;
    background: linear-gradient(to right, #283e51, #1cb5e0);
    font-size: 19px;
    font-weight: 400;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: #eee;
    font-size: 18px;
}
