/************8 Faisal CSS ************/
.markTargetDiv {
    border-bottom: 1px solid #1cb5e0;
    height: 20%;
}

/*  TARGET LEFT side  */

.Targetleft {
    border-right: 1px solid #1cb5e0;

    background: linear-gradient(to right, #283e51, #1cb5e0);
    border-radius: 15px 15px 0 0;
}
.myH5 {
    opacity: 0.8;
    padding: 15px 7px 12px 12px;
    letter-spacing: 0.1em;
    color: white;
    font-weight: lighter;
}

.myformlabel {
    font-size: 13px;
    letter-spacing: 0.1em;
    opacity: 0.9;
    padding: 3px 9px 0 10px;
    background: linear-gradient(
        90deg,
        rgba(8, 115, 186, 20%) 0%,
        rgba(130, 147, 158, 20%) 50%,
        rgba(153, 153, 153, 20%) 100%
    );
    padding-top: 3px;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 5px;
    border: 1px solid #909090;
}

.myformlabel2 {
    text-align: center;
    font-size: 13px;
    width: 100%;
    letter-spacing: 0.1em;
    opacity: 0.9;

    background: linear-gradient(
        90deg,
        rgba(8, 115, 186, 20%) 0%,
        rgba(130, 147, 158, 20%) 50%,
        rgba(153, 153, 153, 20%) 100%
    );
    color: #fff;
    border: 1px solid #909090;
}

.myselectinput {
    background: linear-gradient(
        90deg,
        rgba(0, 32, 44, 30%) 0%,
        rgba(0, 46, 69, 30%) 28%,
        rgba(0, 83, 135, 32%) 72%,
        rgba(0, 113, 188, 40%) 100%
    );
    border: 1px solid #fff;
    color: #fff;
    border: 1px solid #909090 !important;
    padding-top: 0;
}

.mainbutton {
    background: linear-gradient(
        90deg,
        rgba(148, 148, 148, 35%) 0%,
        rgba(194, 194, 194, 40%) 50%,
        rgba(148, 148, 148, 35%) 100%
    );
    font-size: 16px;
    border-radius: 13px;
    padding: 3px 40px;
    border: 1 solid #707070;
}

.middlecontentdiv {
    background-color: #012847;

    border-radius: 20px 20px 0 0;
    width: 100%;
}
.topcontentbar {
    border-radius: 20px 20px 0 0;
    background: linear-gradient(
        90deg,
        rgba(0, 113, 188, 20%) 0%,
        rgba(65, 130, 173, 29%) 50%,
        rgba(0, 0, 0, 40%) 100%
    );
    border-bottom: 1px solid #707070;
}

.topheading {
    padding: 0.4em 0 0.3em 0.5em;
    font-size: 1.6em;
    font-weight: lighter;
    opacity: 0.8;
    color: #fff;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.2em;
}
.insidearea {
    background-image: url("./../../../../static/images/back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100%;
    height: 600px;
}
.socialbox {
    height: 100%;
    margin: 0.2em 0.5em;
    padding: 0.5em 0.2em 0.3em 0.1em;
    border: 1px solid #707070;
    background: linear-gradient(
        90deg,
        rgba(8, 115, 186, 20%) 0%,
        rgba(130, 147, 158, 20%) 50%,
        rgba(153, 153, 153, 20%) 100%
    );
}
