/* Second nav manu by faisal khan */

.secondnavmenu {
  background: linear-gradient(
    90deg,
    rgba(0, 32, 44, 60%) 0%,
    rgba(0, 37, 53, 55%) 52%,
    rgba(0, 55, 85, 46%) 76%,
    rgba(0, 113, 188, 30%) 100%
  );

  border: 1px solid #707070;
  border-radius: 0 0 0 8px;
  outline: none;
  margin: 0;
  padding: 2px auto;
  text-align: center;
}

.secondmidnavmenu {
  background: linear-gradient(
    90deg,
    rgba(0, 32, 44, 60%) 0%,
    rgba(0, 37, 53, 55%) 52%,
    rgba(0, 55, 85, 46%) 76%,
    rgba(0, 113, 188, 30%) 100%
  );

  border: 1px solid #707070;

  outline: none;
  margin: 0;
  padding: 2px auto;
  text-align: center;
}

.border-bottom-left{
  border-radius: 0px 0px 0px 8px !important;
}

.border-bottom-right{
  border-radius: 0px 0px 8px 0px !important;
}

.secondlastnavmenu {
  background: linear-gradient(
    90deg,
    rgba(0, 32, 44, 60%) 0%,
    rgba(0, 37, 53, 55%) 52%,
    rgba(0, 55, 85, 46%) 76%,
    rgba(0, 113, 188, 30%) 100%
  );

  border: 1px solid #707070;
  /* border-radius: 0 0 8px 0; */
  outline: none;
  margin: 0;
  padding: 2px auto;
  text-align: center;
}
.secondnavitems {
  text-align: center;
  color: #fff !important;
  font-size: 1.0rem !important;
  letter-spacing: 0.9;
  opacity: 0.7;
}

.secondnavitems:hover {
  text-decoration: none;
;
  opacity: 1;
}

.secondnavactive {
  background: linear-gradient(to right, #283e51, #1cb5e0);
}

.topnavitem {
  font-size: 22px;
  color: #fff !important;
}
