{% extends 'OSINT_System_Core/ahmed_templates/dashboard_base.html' %}
 {% load static %} 


{% block content%}
<div class="container-fluid">
    <div class="row">
   <div class="col-md-1"></div>
   <div class="col-md-10 bg-dark text-center header m-0 p-0">
   <img src=" {% static 'ahmed/dashboard/images/Asset 722.svg'%}" class="m-0 p-0  " style="height: 60px;width: 200px;"alt="">
   </div>
      <div class="col-md-1"></div>
 </div>

   <div class="row mt-2">
     <div class="col-md-3  ">
       <div class="row border border-warning card1_row ">
        <div class="col-md-12 bg-warning text-white text-center card_headers">Social Media </div>
         <div class="col-md-12 card1_col2" >
           <div class="donut" style="background-color: transparent!important;height: 250px;" id="donut"></div>
         </div>
       </div>
       <div class="row border border-warning card1_row  mt-2">
           <div class="col-md-12 bg-danger  card_headers"><span class="text-white float-left"style="font-size:14px;">Recent Trends </span><button type="button" class="float-right btn btn-primary btn-sm m-1"id="refesh_world_wide_trends_btn">Refresh</button></div>
         <div class="col-md-12 card1_col2 " style="height: 295px;overflow-y: auto">
           <div class="row mt-1 pl-1 pr-1 " id="recent_trends_worldwide">
          
            <!-- this space will be updated by django channles--> 
             
           </div>
          
           
           
           
           



             






             











             












             
         </div>
       </div>
     </div>
     <div class="col-md-6">
       
      
            <div  id="chartdiv" style="width: 100%" ></div>
        
      
     </div>
     
     <div class="col-md-3 ">
     
       
       <div class="row border border-warning card2_row">
        <div class="col-md-12 bg-warning text-white text-center card_headers">Hastag Trends </div>
         <div class="col-md-12 card1_col2" >
           <div class=" " id="barchart" style="background-color: transparent!important;height: 250px;"></div>
       
       </div>
     </div>
     <div class="row border border-warning card1_row  mt-2">
        <div class="col-md-12 bg-warning text-white text-center card_headers">Social Posts </div>
       <div class="col-md-12 card1_col2 " style="height: 295px;overflow-y: auto">
         <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
         <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
         <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>

          <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
          <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
          <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
          <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
          <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
         <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
         <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
         <div class="row mt-1 pl-1 pr-1 ">
           <div class="col-md-12">
             <div class="row">
               <div class="col-md-2  m-0 p-0 custom_center">
                 <img src=" {% static 'ahmed/dashboard/images/profile woman (3).svg'%}"  class="m-0 p-0 social_posts_img" style="" alt="" />
               </div>
               <div class="col-md-10 border border-warning m-0  text-white social_posts_post"style="overflow: hidden;">
                 ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </div>
             </div>
             
           </div>
         </div>
       </div>
     </div>
   </div>
     </div>
     <div class="row mt-2">
   <div class="col-md-1"></div>
   <div class="col-md-10 bg-dark text-center footer  m-0 p-0">
  <p class="font-weight-bold text-white mt-2">BIG VIEW </p>
   </div>
      <div class="col-md-1"></div>
 </div>

   <div class="flexbox">
   </div>


    {% endblock%}