
.custom_icons {
    border: 1px solid #fff;
    width: 80px;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 93deg, rgba(24, 72, 116, 1) 0%, rgba(6, 17, 26, 1) 100%);
}
.glowing_border {
    border: 1px solid #1cb5e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #1cb5e0;
    -moz-box-shadow: 0px 0px 4px #1cb5e0;
    box-shadow: 0px 0px 4px #1cb5e0;
}
.small_card_left_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile_card_avatar {
    height: 150px;
    width: 150px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid white;
}

.custom_center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
}
#content_div {
    background-image: url("./../../../../static/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main_card_header {
    background: linear-gradient(to right, #283e51, #1cb5e0);
    border-radius: 10px 10px 0px 0px !important;
    justify-content: start;
    display: flex;
    align-items: center;
}
.card_header_text {
    font-size: 25px;
    color: white;
    padding-top: 13px;
    padding-left: 20px;
    letter-spacing: 10px;
}
.transparent{
    background-color:transparent!important;
}
.main_card {
   border: 1px solid white;
   border-radius: 10px;
   
  
}
.input_wrapper_row {
    margin-top: 20px;
}
.radio_btns {
    height: 60px;
    width: 160px;
    background: transparent;
    border: 1px solid white;
}
.custom_center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.options {
    font-size: 25px;
}
input {
    background-color: transparent !important;
    border-radius: 10px 5px 5px 10px !important;
    color: white !important;
}
.custom_label {
    border: 1px solid white;
    border-radius: 0px;
    background: transparent !important;
    padding-left: 5px;
    border-radius: 5px;
}
.input_text {
    width: 200px;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}
select {
    background-color: transparent !important;
    border-radius: 10px 5px 5px 10px !important;
}