.rotate{
    transform: rotate(-90deg);
    }
    .card_text {
    /*background: linear-gradient(to right, #283e51, #1cb5e0);*/
    background: linear-gradient(
    90deg,
    rgba(0, 113, 188, 20%) 0%,
    rgba(65, 130, 173, 29%) 50%,
    rgba(0, 0, 0, 40%) 100%
    );
    border-left: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    border-radius: 0px 15px 15px 0px;
    }
    .second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
    }
    .main_card_header {
    /*background: linear-gradient(to right, #283e51, #1cb5e0);*/
    background: linear-gradient( 90deg, rgba(0, 32, 44, 90%) 0%, rgba(0, 46, 69, 90%) 28%, rgba(0, 83, 135, 82%) 72%, rgba(0, 113, 188, 80%) 100% );
    border-radius: 10px 10px 0px 0px !important;
    justify-content: start;
    display: flex;
    align-items: center;
    }
    .card_header_text {
    font-size: 25px;
    color: white;
    padding-top: 13px;
    padding-left: 20px;
    letter-spacing: 10px;
    }
    #content_div {
    /*background: linear-gradient(to right, #283e51, #01181f);*/
    background-color: #012847;
    border-radius: 20px 20px 0 0;
    width: 100%;
    }
    .card_row {
    border: 1px solid white;
    border-radius: 15px;
    }
    .icon_chain {
    border-radius: 15px 0px 0px 0px;
    font-size: 35px;
    }
    .icon_eye {
    border-radius: 0px 0px 0px 15px;
    font-size: 35px;
    }
    #case_link {
    height: 400px;
    width: 100%;
    }
    #author_id{
    color:black!important;
    }
    input::placeholder{
    color:black!important;
    }
    .addbutton {
    /*background: linear-gradient( 93deg, rgba(24, 72, 116, 1) 0%, rgba(6, 17, 26, 1) 100% );*/
    background: linear-gradient(to right, #283e51, #1cb5e0);
    width: 100px;
    text-align: center;
    }
    .newinputdesign {
    background: rgb(170, 172, 175);
    background: linear-gradient(
    322deg,
    rgba(170, 172, 175, 1) 0%,
    rgba(155, 171, 181, 1) 47%,
    rgba(113, 166, 201, 1) 75%,
    rgba(99, 164, 207, 1) 100%
    );
    }
    .newlabeldesign {
    background: rgb(24, 72, 116);
    background: linear-gradient(
    93deg,
    rgba(24, 72, 116, 1) 0%,
    rgba(6, 17, 26, 1) 100%
    );
    color: #fff;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    width: 20%;
    font-size: 13px;
    letter-spacing: 0.1em;
    font-weight: bold;
    opacity: 0.9;
    padding: 10px 0px 10px 10px;
    }
    .formbg {
    background: linear-gradient(
    90deg,
    rgba(219, 219, 219, 1) 0%,
    rgba(230, 230, 230, 1) 19%,
    rgba(230, 230, 230, 1) 77%,
    rgba(219, 219, 219, 1) 100%
    );
    border: 1 solid #707070;
    }
    .mymainbg {
    background: linear-gradient(
    0deg,
    rgba(242, 242, 242, 1) 0%,
    rgba(240, 240, 240, 1) 52%,
    rgba(221, 221, 221, 1) 77%,
    rgba(204, 204, 204, 1) 100%
    );
    border: 1 solid #707070;
    }
    .glowing_border {
        border: 1px solid #1cb5e0;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 4px #1cb5e0;
        -moz-box-shadow: 0px 0px 4px #1cb5e0;
        box-shadow: 0px 0px 4px #1cb5e0;
    }
    .custom_icons{
       border: 1px solid #fff;
       width: 40px;
       border-radius: 5px;
       height: 40px;
       margin: 10px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%);
    }
    .custom_label{
       width: 110px;
       border-radius: 5px;
       height: 40px;
       margin: 10px;
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       background: linear-gradient(
        93deg,
        rgba(24, 72, 116, 1) 0%,
        rgba(6, 17, 26, 1) 100%);
    }