.second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
}
#content_div {
    background-image: url("./../../../../static/images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.main_card_header {
    background: linear-gradient(to right, #283e51, #1cb5e0);
    border-radius: 10px 10px 0px 0px !important;
    justify-content: start;
    display: flex;
    align-items: center;
}
.card_header_text {
    font-size: 25px;
    color: white;
    padding-top: 13px;
    padding-left: 20px;
    letter-spacing: 10px;
}
.main_card {
    border: 1px solid white;
    border-radius: 10px;
}
.input_wrapper_row {
    margin-top: 20px;
}
.radio_btns {
    height: 60px;
    width: 160px;
    background: transparent;
    border: 1px solid white;
}
.custom_center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.options {
    font-size: 25px;
}
input {
    background-color: transparent !important;
    border-radius: 10px 5px 5px 10px !important;
    color: white !important;
}
.custom_label {
    border: 1px solid white;
    border-radius: 0px;
    background: transparent !important;
    padding-left: 5px;
    border-radius: 5px;
}
.input_text {
    width: 200px;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}
select {
    background-color: transparent !important;
    border-radius: 10px 5px 5px 10px !important;
}