.second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
}
.main_card_header {
    background: linear-gradient(to right, #283e51, #1cb5e0);
    border-radius: 10px 10px 0px 0px !important;
    justify-content: start;
    display: flex;
    align-items: center;
}
.card_header_text {
    font-size: 25px;
    color: white;
    padding-top: 13px;
    padding-left: 20px;
    letter-spacing: 10px;
}
.main_card {
    background: #013746;
}
.small_card_warpper {
    border-radius: 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
    margin-left: 1px;
}
.small_card_scroll {
    border-right: 1px solid white;
    border-radius: 25px;
}
.chain_icon {
    font-size: 10px;
}
.eye_icon {
    font-size: 10px;
}
.small_card_left_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_card_avatar {
    height: 85%;
    width: 100%;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid white;
}
.small_card_right_wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.custom_center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.small_card_inputs {
    width: 80%;
    height: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
}