
.rotate {

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

}
.custom_icons {
    border: 1px solid #fff;
    width: 90px;
    border-radius: 5px;
    height: 20px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 93deg, rgba(24, 72, 116, 1) 0%, rgba(6, 17, 26, 1) 100%);
}
.glowing_border {
    border: 1px solid #1cb5e0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 4px #1cb5e0;
    -moz-box-shadow: 0px 0px 4px #1cb5e0;
    box-shadow: 0px 0px 4px #1cb5e0;
}
.second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
}
.main_card_header {
    border-radius: 20px 20px 0 0 !important;
        background: linear-gradient(
                90deg,
                rgba(0, 32, 44, 90%) 0%,
                rgba(0, 46, 69, 90%) 28%,
                rgba(0, 83, 135, 82%) 72%,
                rgba(0, 113, 188, 80%) 100%
        );
        border-bottom: 1px solid #707070;
}
.card_header_text {
    font-size: 25px;
    color: white;
    padding-top: 13px;
    padding-left: 20px;
    letter-spacing: 10px;
}
.main_card {
    background-color: #012847;
}
.small_card_warpper {
    border-radius: 10px;
    background-color: #012847;
    
}
.small_card_scroll {
    border-right: 1px solid white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
   
}
.chain_icon {
    font-size: 10px;
}
.eye_icon {
    font-size: 10px;
}
.small_card_left_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.profile_card_avatar {
    height: 85px;
    width: 85px;
    padding: 0px;
    border-radius: 50%;
    border: 1px solid white;
}
.small_card_right_wrapper {

    height:170px;
}
.custom_center {
    justify-content: center;
    align-items: center;
    display: flex;
}
.small_card_inputs {
    width: 80%;
    height: 15px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
}
