.second_nav_row {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to right, #283e51, #1cb5e0);
}

#content_div {
    /*background-color: #012847;*/
    border-radius: 20px 20px 0px 0px;
}

.main_card_header {
    border-radius: 20px 20px 0 0 !important;
    background: linear-gradient(
            90deg,
            rgba(0, 32, 44, 90%) 0%,
            rgba(0, 46, 69, 90%) 28%,
            rgba(0, 83, 135, 82%) 72%,
            rgba(0, 113, 188, 80%) 100%
    );
    border-bottom: 1px solid #707070;
}

.card_header_text {
    font-size: 25px;
    color: white;
    padding-top: 13px;
    padding-left: 20px;
    letter-spacing: 10px;
}


.input_wrapper_row {
    margin-top: 20px;
}

.radio_btns {
    height: 60px;
    width: 160px;
    background: transparent;
    border: 1px solid white;
}

.custom_center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.options {
    font-size: 25px;
}

input {
    background-color: transparent !important;
    border-radius: 10px 5px 5px 10px !important;
    color: white !important;
}

.custom_label {
    border: 1px solid white;
    border-radius: 0px;
    background: transparent !important;
    padding-left: 5px;
    border-radius: 5px;
}

.input_text {
    width: 200px;
    font-size: 14px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}

select {
    background-color: transparent !important;
    border-radius: 10px 5px 5px 10px !important;
}
