{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
<link rel="stylesheet" href="{% static 'Keybase_Management_System/css/archive.css' %}">
{% endblock %}
{% block smallnavbar %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 d-flex" style="">
        <div class="col-md-4 col-lg-4 col-xl-4"></div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu">
            <a href="{% url 'Keybase_Management_System:kms_create' %}" class="btn secondnavitems ">CREATE</a>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu secondnavactive">
            <a href="{% url 'Keybase_Management_System:kms_archive' %}" class="btn secondnavitems ">ARCHIVE</a>
        </div>

    </div>
    <div class="col-md-4 col-lg-4 col-xl-4"></div>
</div>
{% endblock %}
{% block belly %}
<style>
    #nav-tabContent{
       height: 600px;
       overflow-y :auto ;
        overflow-x: hidden;
    }
</style>
<div class="row middlecontentdiv">
    <div class="col-md-12 col-lg-12 col-sm-12 col-md-12 topbar">
        <!-- TOP MANU BAR -->
        <nav>
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-keywords" role="tab"
                    aria-controls="nav-home" aria-selected="false">KEYWORDS</a>

                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-tags" role="tab"
                    aria-controls="nav-profile" aria-selected="false">TAGS</a>

                <!-- <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-topics" role="tab"
                    aria-controls="nav-contact" aria-selected="false">TOPICS</a> -->

                <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-titles" role="tab"
                    aria-controls="nav-about" aria-selected="false">TITLE</a>

                <a class="nav-item nav-link" id="nav-mention-tab" data-toggle="tab" href="#nav-mentions" role="tab"
                    aria-controls="nav-mention" aria-selected="false">MENTIONS</a>

                <a class="nav-item nav-link" id="nav-phrase-tab" data-toggle="tab" href="#nav-phrases" role="tab"
                    aria-controls="nav-phrase" aria-selected="false">PHRASE</a>

                <a class="nav-item nav-link" id="nav-dates-tab" data-toggle="tab" href="#nav-dates" role="tab"
                    aria-controls="nav-dates" aria-selected="true">DATES</a>
            </div>
        </nav>

        <!-- END OF TOP MANU BAR -->
    </div>
    <!-- end of top row -->


    <!-- inside main container -->
    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 othercontainer">
        <div class="">
            <!-- RPW FOR SOCIAL MEDIA -->
            <div class="row formbg ml-5">
                <div class="col-md-11 col-lg-11 col-xl-11 col-sm-11">
                    <!-- this is content -->
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent" >
                        {% csrf_token %}
                        {% for key, value in gtx.items %}
                        <div class="tab-pane fade {% if key == 'keywords' %}active show{% endif %}" id="nav-{{key}}"
                            role="tabpanel">
                            <!-- Each content tab #1 for keywords-->
                            <div class="row mt-2">
                                <!-- divide the section into 2 columns -->
                                <div class="col-md-12 col-lg-12 col-xl-12">
                                    <div class="container">
                                        <div class="row">
                                            {% if key == 'keywords' %}
                                            {% for i in ctx %}
                                            <div class="col-md-3 m-0">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="input-group-prepend w-100 pilleditdel">
                                                   <input type="hidden" value="{{key_in}}">
                                                    <span class="keybaseLabel w-100 text-left font-weight-bold p-1">{{i.title|default:"N/A"}}</span>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="col-md-9 m-0">
                                                <div class="input-group-prepend w-100 pilleditdel mt-2 mb-2">
                                                    <span class="rightlabel w-100" >{{i.keywords|join:", "|default:"No Keywords available "}}</span>
                                                    </div>
                                            </div>
    
                                        {% endfor %}
                                        {% endif %}
                                        </div>

                                   


                                        <div class="row">
                                            {% if key == 'mentions' %}
                                            {% for i in ctx %}
                                            <div class="col-md-3">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="input-group-prepend w-100 pilleditdel">
                                                   <input type="hidden" value="{{key_in}}">
                                                    <span class="keybaseLabel w-100 text-left font-weight-bold p-1">{{i.title|default:"N/A"}}</span>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group-prepend w-100 pilleditdel mt-2 mb-2">
                                                    <span class="rightlabel w-100" >{{i.mentions|join:", "|default:"No Mentions available "}}</span>
                                                    </div>
                                            </div>
    
                                        {% endfor %}
                                        {% endif %}
                                        </div>

                                   




                                        <div class="row">
                                            {% if key == 'topics' %}
                                            {% for i in ctx %}
                                            <div class="col-md-3">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="input-group-prepend w-100 pilleditdel">
                                                   <input type="hidden" value="{{key_in}}">
                                                    <span class="keybaseLabel w-100 text-left font-weight-bold p-1">{{i.title|default:"N/A"}}</span>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group-prepend w-100 pilleditdel mt-2 mb-2">
                                                    <span class="rightlabel w-100" >{{i.topic|join:", "|default:"N/A"}}</span>
                                                    </div>
                                            </div>
    
                                        {% endfor %}
                                        {% endif %}
                                        </div>




                                        <div class="row">
                                            {% if key == 'phrases' %}
                                            {% for i in ctx %}
                                            <div class="col-md-3">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="input-group-prepend w-100 pilleditdel">
                                                   <input type="hidden" value="{{key_in}}">
                                                    <span class="keybaseLabel w-100 text-left font-weight-bold p-1">{{i.title|default:"N/A"}}</span>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group-prepend w-100 pilleditdel mt-2 mb-2">
                                                    <span class="rightlabel w-100" >{{i.phrases|join:", "|default:"No Phrases available "}}</span>
                                                    </div>
                                            </div>
    
                                        {% endfor %}
                                        {% endif %}
                                        </div>











                                        <div class="row">
                                            {% if key == 'tags' %}
                                            {% for i in ctx %}
                                            <div class="col-md-3">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="input-group-prepend w-100 pilleditdel">
                                                   <input type="hidden" value="{{key_in}}">
                                                    <span class="keybaseLabel w-100 text-left font-weight-bold p-1">{{i.title|default:"N/A"}}</span>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group-prepend w-100 pilleditdel mt-2 mb-2">
                                                    <span class="rightlabel w-100" >{{i.hashtags|join:", "|default:"No Hashtags available "}}</span>
                                                    </div>
                                            </div>
    
                                        {% endfor %}
                                        {% endif %}
                                        </div>

                                        <div class="row">
                                            {% if key == 'titles' %}
                                            {% for i in ctx %}
                                            <div class="col-md-3">
                                                <div class="input-group mt-2 mb-2">
                                                    <div class="input-group-prepend w-100 pilleditdel">
                                                   <input type="hidden" value="{{key_in}}">
                                                    <span class="keybaseLabel w-100 text-left font-weight-bold p-1">{{i.title|default:"N/A"}}</span>
                                                   </div>
                                                   </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="input-group-prepend w-100 pilleditdel mt-2 mb-2">
                                                    <span class="rightlabel w-100" >{{i.title|default:"N/A"|default:"No Title available "}}</span>
                                                    </div>
                                            </div>
    
                                        {% endfor %}
                                        {% endif %}
                                        </div>




                                    </div>


                                   
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <!-- let me check -->

                    <!-- end of content -->
                </div>
                <div class="col-md-1 col-lg-1 com-xl-1 col-sm-1 d-flex align-items-center">
                    <!-- Three verticle button -->
                    <div class="ml-4 d-flex flex-column align-items-end">
                        <span class="editbutton">
                            <i style="color: white; opacity: 0.8;" class="fas fa-edit"></i>
                        </span>

                        <span class="addbutton">
                            <i style="color: white; opacity: 0.8;" class="fa fa-plus-circle"></i>
                        </span>

                        <span class="deletebutton">
                            <i style="color: white; opacity: 0.8;" class="fas fa-trash-alt "></i>
                        </span>
                    </div>
                </div>
            </div>

            <!-- END OF second row-->
        </div>
    </div>
</div>
{% endblock %}
{% block foot_dep %}
<script defer src="{% static 'Keybase_Management_System/js/archive.js' %}"></script>
{% endblock %}
