{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block page_title %}Keybase Create{% endblock %}
{% block head_dep %}
    <!-- Stylesheet -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link href=" {% static 'Keybase_Management_System/tagsinput.css' %}" rel="stylesheet" type="text/css">

    <!--  -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Keybase_Management_System/css/creation.css' %}">
{% endblock %}
{% block smallnavbar %}
    <style>
        #keywords {
            width: 100% !important;
            width: 500px !important;
        }
    </style>



    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 d-flex" style="">
            <div class="col-md-4 col-lg-4 col-xl-4"></div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu secondnavactive">
                <a href="{% url 'Keybase_Management_System:kms_create' %}" class="btn secondnavitems ">CREATE</a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
                <a href="{% url 'Keybase_Management_System:kms_archive' %}" class="btn secondnavitems ">ARCHIVE</a>
            </div>

        </div>
        <div class="col-md-4 col-lg-4 col-xl-4"></div>
    </div>
{% endblock %}

{% block belly %}
    <div class="row  ">
        <div class="col-md-12 col-lg-12 col-sm-12 col-md-12 topcontentbar ">
            <h4 class="topheading">Keybase Creation</h4>
        </div>
        <!-- end of top row -->

        <!-- inside main container -->
        <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12  othercontainer  ">
            <div class="">
                <!-- RPW FOR SOCIAL MEDIA -->
                <div class="row formbg ml-5">
                    <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 mt-2 ">
                        <!-- FORM start -->
                        <form class="justify-content-center" id="kms-create-form">
                            {% csrf_token %}
                            <div class="form-group justify-content-center text-center ">
                                <div style="width:100%;" class="container input1">
                                    <!-- textfield 1 -->
                                    <!-- title -->
                                    <div class="input-group mb-4 w-100 d-flex flex-row justify-content-between align-items-center ">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">Title</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                {% if ctx.title %}
                                                    <input type="text" id="title"
                                                           class="form-control newinputdesign w-100"
                                                           name="title" value="{{ ctx.title }}">
                                                {% else %}
                                                    <input type="text" name="title" id="title"
                                                           class="form-control newinputdesign w-100"
                                                           placeholder="enter title here">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                    <!--Tetfield 2 -->
                                    <!-- Topic -->
                                    <div class="input-group pb-4 mb-2 d-flex flex-row justify-content-between align-items-center">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">Topic</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                {% if ctx.topic %}
                                                    <input type="text" id="title"
                                                           class="form-control newinputdesign w-100 "
                                                           name="title" value="{{ ctx.title }}">
                                                {% else %}
                                                    <input type="text" name="topic" id="topic"
                                                           class="form-control newinputdesign w-100 "
                                                           placeholder="enter topic here">
                                                {% endif %}
                                            </div>
                                        </div>


                                    </div>


                                    <!--KEYWORDS TEGS SECTION-->


                                    <div class=" w-100 form-group  d-flex flex-row justify-content-between align-items-center mt-2">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">keywords</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                <input type="text" data-role="tagsinput" value="" class="newinputdesign"
                                                       id="keywords" name="keywords"/>

                                            </div>
                                        </div>


                                    </div>


                                    <!--Mentions SECTION-->

                                    <div class=" w-100 form-group d-flex flex-row justify-content-between align-items-center">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">Mentions</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                <input type="text" data-role="tagsinput" value="" class="newinputdesign"
                                                       id="mentions" name="mentions"/>

                                            </div>


                                        </div>
                                    </div>


                                    <!--HASHTAGS TEGS SECTION-->
                                    <div class=" w-100 form-group d-flex flex-row justify-content-between align-items-center">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">Tags</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                <input type="text" data-role="tagsinput" value="" class="newinputdesign"
                                                       id="tags" name="tags"/>

                                            </div>
                                        </div>


                                    </div>


                                    <!--PHRASES SECTION-->
                                    <div class=" w-100 form-group d-flex flex-row justify-content-between align-items-center">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">Phrase</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                <input type="text" data-role="tagsinput" value="" class="newinputdesign"
                                                       id="phrases" name="phrases"/>

                                            </div>
                                        </div>


                                    </div>


                                    <!--DATE SECTION-->

                                    <div class="input-group   mt-2 mb-2 d-flex flex-row justify-content-between align-items-center">
                                        <div class="row w-100">
                                            <div class="col-md-3 p-0">
                                                <div class="input-group-prepend">
                                                    <span class="newlabeldesign w-100">Expire on</span>
                                                </div>
                                            </div>
                                            <div class="col-md-9 p-0">
                                                <div class="datepicker date input-group p-0 m-0">
                                                    <input class="form-control   newinputdesign" type="text"
                                                           placeholder="Choose a reservation date" id="reservationDate"
                                                           name="date">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text "><i class="fas fa-calendar"
                                                                                           style=""></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <!--SUBMIT BUTTON  -->
                                    <button type="button" style="float:right;" id="kms-form-submit"
                                            class="btn btn-secondary searchbutton mr-1 mb-3">
                                        Submit
                                    </button>

                                    <!-- TWO Section divided into 2--Tetfields  -->
                                </div>
                            </div>
                        </form>
                        <!--FORM END-->
                    </div>
                </div>
                <!-- Second row-->
                <!-- END OF second row-->
            </div>
        </div>
    </div>
{% endblock %}
{% block foot_dep %}

    <!-- JavaScript -->

    <script src=" {% static 'Keybase_Management_System/tagsinput.js' %}"></script>

    <script defer src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <script defer src="{% static 'Keybase_Management_System/js/creation.js' %}"></script>

    <script>


    </script>

{% endblock %}
