

{% extends 'OSINT_System_Core/tso_base.html' %}
{% load static %}
{% block head_dep %}
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
<link rel="stylesheet" href="{% static 'Keybase_Management_System/css/archive.css' %}">
{% endblock %}
{% block smallnavbar %}

{% endblock %}
{% block belly %}
<div class="container-fluid" style="border-radius:5px;">
    <div class="row border card card-priamry">
        <div class="col-md-12 card-header">
           {% for i in resp %}
          {% for x in i.data %}
           <div class="card">
               <div class="card-header bg-dark text-white "style="">
                {{x.query_num_results_page}}
                <span>Query :</span><span>    {{x.query}}</span>
               </div>
               <div class="card-body">
                   <div class="row">
                       <div class="col-md-12 ">
                          <span class="badge badge-primary"> Query Search title :</span>
                          <span> {{x.serp_title}}</span>
                       </div>
                   </div>
              <div class=""style="font-size:10px;">
                  {{x.text_raw}}
              </div>
               </div>
               <div class="card-footer"></div>
           </div>
          {% endfor %}
           {% endfor %}
        </div>
        <div class="card-body"></div>
        <div class="card-footer"></div>
    </div>
</div>

{% endblock %}
{% block foot_dep %}
<script defer src="{% static 'Keybase_Management_System/js/archive.js' %}"></script>
{% endblock %}