{% load static %}
{% load osint_custom_tags %}
{% block head_dep %}
    <!-- Stylesheet -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">
    <link href=" {% static 'Keybase_Management_System/tagsinput.css' %}" rel="stylesheet" type="text/css">
    <!--  -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'Keybase_Management_System/css/creation.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block belly %}
    <div class="row  ">
        <div class="col-md-12 col-lg-12 col-sm-12 col-md-12">

            <div class="row">
                <h4 class="col-md-6">
                    Keybase Responses
                </h4>
                <div class=" col-md-6 text-right" style="margin: auto;">
                    <div class="card-body border border-dark ml-3 mr-3" style="border-radius:0px 0px 15px 15px">
                        {% if x.query|length > 0 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="col-md-12"><span class="">Query  :</span></div>
                                </div>
                                <div class="col-md-10" style="font-size:12px;"> {{ x.query|default:"N/A" }}</div>
                            </div>
                        {% endif %}
                        {% if x.serp_title|length > 0 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="col-md-12"><span class=""
                                    >Query Search title :</span>
                                    </div>
                                </div>
                                <div class="col-md-10" style="font-size:12px;"> {{ x.serp_title|default:"N/A" }}</div>
                            </div>
                        {% endif %}
                        {% if x.meta_title|length > 0 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="col-md-12"><span class="">Meta  title :</span>
                                    </div>
                                </div>
                                <div class="col-md-10" style="font-size:12px;"> {{ x.meta_title|default:"N/A" }}</div>
                            </div>
                        {% endif %}
                        {% if x.serp_url|length > 0 %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12"><span class="">URL :</span></div>
                                </div>
                                <div class="col-md-2" style="font-size:12px;"><a
                                        href="{% url 'Keybase_Management_System:block_keybase_url' x.serp_url|encode_url %}"
                                        target="_blank"> Block</a></div>
                                <div class="col-md-2" style="font-size:12px;"><a
                                        href="{% url 'Target_Management_System:dynamic_crawling_prime' x.serp_url|encode_url %}"
                                        target="_blank"> Add Target </a></div>
                                <div class="col-md-2" style="font-size:12px;"><a href="{{ x.serp_url }}"
                                                                                 class="badge badge-success"
                                                                                 target="_blank"><i
                                        class="fa fa-eye text-white fa-2x"></i> </a></div>
                            </div>
                        {% endif %}
                        {% if x.serp_snippet|length > 0 %}
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="col-md-12"><span class="">Search Snippet :</span>
                                    </div>
                                </div>
                                <div class="col-md-10"
                                     style="font-size:12px;">  {{ x.serp_snippet|default:"N/A" }}</div>
                            </div>
                        {% endif %}
                    </div>

                </div>
                <!-- end of top row -->
                <!-- inside main container -->
                <div class="col-md-12">
                    <!-- RPW FOR SOCIAL MEDIA -->
                    <span class="row ml-3 mr-3">
                            <div class="col-md-12 mt-2 ">
                                <h4 class="text-dark"> {{ target_object }} Response </h4>
                                {% for x in resp.data %}
                                    <span class="col-md-12 col-lg-12 col-sm-12 col-md-12 glowing_border ">
                                                {% if x.serp_domain == "www.youtube.com" %}
                                                    <span class="float-right d-flex flex-row justify-content-center align-items-center bg-danger"
                                                          style="border-radius:5px;height:40px;width:60px;"> <i
                                                            class="fab fa-youtube   text-dark  "
                                                            style="font-size:25px;"></i></span>

                                                    <p class="ml-3" style="font-size:12px;"> <span
                                                            class="badge badge-success"> Response Source :</span> {{ x.url|default:"N/A" }}</p>

                                                {% endif %}
                                    </span>
                                    <div class="card-body border border-dark glowing_border mb-2"
                                         style="border-radius:0px 0px 15px 15px">
                                    {% if x.status == '800' %}
                                        <span class="col-md-4 d-flex flex-column justify-content-start align-items-start mb-2">
                                            <div class="badge p-1 text-dark">
                                                <i class="fa fa-lock" aria-hidden="true"></i>
                                                Blocked
                                            </div>
                                        </span>
                                    {% elif x.status == '200' %}
                                        <span class="col-md-4 d-flex flex-column justify-content-start align-items-start mb-2">
                                            <div class="badge p-1 text-dark">
                                                <i class="fa fa-unlock" aria-hidden="true"></i>
                                                Accessable
                                            </div>
                                        </span>
                                    {% endif %}
                                        {% if x.query|length > 0 %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="col-md-12"><span
                                                            class="text-dark font-weight-bold text-left"
                                                            style="font-size:12px;">Query  :</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 text-dark p-0 m-0"
                                                     style="font-size:12px;"> {{ x.query|default:"N/A" }}</div>
                                            </div>
                                        {% endif %}
                                        {% if x.serp_title|length > 0 %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="col-md-12"><span
                                                            class="text-dark font-weight-bold text-left"
                                                            style="font-size:12px;">Query Search title :</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 text-dark p-0 m-0"
                                                     style="font-size:12px;"> {{ x.serp_title|default:"N/A" }}</div>
                                            </div>
                                        {% endif %}
                                        {% if x.meta_title|length > 0 %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="col-md-12"><span class="text-dark text-left"
                                                                                 style="font-size:12px;">Meta  title :</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 text-dark p-0 m-0"
                                                     style="font-size:12px;"> {{ x.meta_title|default:"N/A" }}</div>
                                            </div>
                                        {% endif %}
                                        {% if x.serp_url|length > 0 %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="col-md-12">
                                                        <span class="text-dark font-weight-bold text-left"
                                                              style="font-size:12px;">URL :</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 font-weight-bold " style="font-size:12px;">
                                                    {{ x.serp_url|encode_url }}
                                                </div>

                                            </div>
                                        {% endif %}
                                        {% if x.serp_snippet|length > 0 %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="col-md-12"><span
                                                            class="text-dark font-weight-bold text-left"
                                                            style="font-size:12px;">Search Snippet :</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 text-dark p-0 m-0"
                                                     style="font-size:12px;">  {{ x.serp_snippet|default:"N/A" }}</div>
                                            </div>
                                        {% endif %}
                                        {% if x.text_raw|length > 0 %}
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <div class="col-md-12"><span
                                                            class="text-dark font-weight-bold text-left"
                                                            style="font-size:12px;">Raw Text :</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-10 glowing_border p-2 text-dark"
                                                     style="font-size:12px;border-radius:3px;"> {{ x.text_raw|linebreaksbr|default:"N/A" }}</div>
                                            </div>

                                        {% endif %}
                                    </div>

                                {% endfor %}
                            </div>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'Additional_assets/main/js/slim.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            window.print();


        });
    </script>
{% endblock %}
{% block foot_dep %}
    <!-- JavaScript -->
    <script src=" {% static 'Keybase_Management_System/tagsinput.js' %}"></script>
    <script defer src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
    <script defer src="{% static 'Keybase_Management_System/js/creation.js' %}"></script>
    <script>


    </script>
{% endblock %}
