{% extends 'OSINT_System_Core/resp_test.html' %}
{% load static %}
{% load osint_custom_tags %}
{% block page_title %}Keybase Create{% endblock %}
{% block head_dep %}
<!-- Stylesheet -->
<link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
   integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
   crossorigin="anonymous">
<link href=" {% static 'Keybase_Management_System/tagsinput.css' %}" rel="stylesheet" type="text/css">
<!--  -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datepicker.min.css' %}">
<link rel="stylesheet" href="{% static 'Target_Management_System/css/tso_nav_bar.css' %}">
<link rel="stylesheet" href="{% static 'Keybase_Management_System/css/creation.css' %}">
{% endblock %}
{% block smallnavbar %}
<style>
   #keywords {
   width: 100% !important;
   width: 500px !important;
   }
   .topcontentbar {
   border-radius: 20px 20px 0 0;
   background: linear-gradient(
   90deg,
   rgba(0, 32, 44, 90%) 0%,
   rgba(0, 46, 69, 90%) 28%,
   rgba(0, 83, 135, 82%) 72%,
   rgba(0, 113, 188, 80%) 100%
   );
   border-bottom: 1px solid #707070;
   }
   .background {
   background: #012847 !important;
   }
   .custom_badge {
   background-color: #06111a !important;
   color: #ffffff !important;
   }
   .dropdown-content a:hover {
   background-color: #f1f1f1;
   }
   .dropdown:hover .dropdown-content {
   display: block;
   }
   .dropdown-content {
   display: none;
   position: absolute;
   min-width: 130px;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   }
   .dropdown-content > a {
   min-width: 120px;
   }
   li.dropdown {
   display: inline-block;
   display: inline-block;
   }
   li a, .dropbtn {
   display: inline-block;
   text-align: center;
   text-decoration: none;
   }
</style>
<div class="row">
   <div class="col-md-2"></div>
   <div class="col-md-8 d-flex" style="">
      <div class="col-md-4 col-lg-4 col-xl-4"></div>
      <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondnavmenu ">
         <a href="{% url 'Keybase_Management_System:kms_create' %}" class="btn secondnavitems ">CREATE</a>
      </div>
      <div class="col-md-2 col-lg-2 col-xl-2 col-sm-2 secondmidnavmenu">
         <a href="{% url 'Keybase_Management_System:kms_archive' %}" class="btn secondnavitems ">ARCHIVE</a>
      </div>
   </div>
   <div class="col-md-4 col-lg-4 col-xl-4"></div>
</div>
{% endblock %}
{% block belly_header %}
<div class="d-inline">
   <p class="text-uppercase custom_card_title ">KEYBASE FETECHED RESPOSNE</p>
   <div class="float-right">
      <div class="dropdown show">
         <a class="btn btn-sm  text-white font-weight-bold  dropdown-toggle custom_social_icons"
            href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
         <i class="fas fa-chart-bar text-white mr-2"></i> Options
         </a>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a type="button" class="btn btn-sm btn-success float-left mr-2 ml-2" target="_blank"
               style="margin-top:2px;"
               href="{% url 'Keybase_Management_System:Keybase_Fetched_Report' GTR_id=target_object.GTR.id %}"
               id="download_as_pdf">PDF Download </a>
            <a type="button" class="btn btn-sm btn-success float-left mr-2 ml-2" target="_blank"
               style="margin-top:2px;"
               href="{% url 'Bi_Tools:dashboard_with_pivot' %}"
               id="">Bi Tool</a>
            <a type="button" class="btn btn-sm btn-success float-left mr-2 ml-2" target="_blank"
               style="margin-top:2px;"
               href="{% url 'Bi_Tools:visualization' content_type='keybase' %}"
               id="">Statistics</a>
         </div>
      </div>
   </div>
</div>
{% endblock %}
{% block belly %}
<style>
    .fa{
        color: white!important;
    }
</style>
<div class="row">
   <div class="col-md-12">
      <ul class="nav nav-pills">
         <li class="active"><a class="nav-link" data-toggle="pill" href="#searchEngines">Search Engines</a></li>
         <li><a class="nav-link" data-toggle="pill" href="#facebook">Facebook</a></li>
         <li><a class="nav-link" data-toggle="pill" href="#menu2">Menu 2</a></li>
         <li><a class="nav-link" data-toggle="pill" href="#menu3">Menu 3</a></li>
      </ul>
      <!-- tabs -->
      <div class="tab-content">
         <!-- search engine tab starts -->
         <div id="searchEngines" class="tab-pane fade ">
             <!-- row start  -->
            <div class="row  ">
               {% for i in resp.data %}
               <div class="col-md-12 mt-2">
                  <!-- loop2 -->
                  {% for x in i.data %}
                  {% if i.site == 'search_engines' %}
                  <!-- card start -->
                  <div class="card">
                     <div class="card-header">
                        <div class="row">
                          
                           <div class="col-md-4">   Query  # ({{forloop.counter}})
                           </div>
                           {% with foo_num=forloop.counter0 %}
                           <div class="col-md-4">   Query Keyword ({{foo_num}})
                            
                           </div>
                           {% endwith %}
                        </div>
                        <div class="col-md-4">   </div>
                     </div>
                     <!-- card-body starts -->
                     <div class="card-body border">
                        <!-- <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Query Number Results Total </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.query_num_results_total|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Query Number Results Page </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.query_num_results_page|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Serp Rank </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.serp_rank|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Serp Type </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.serp_type|default:"N/A"}}</span></div>
                        </div> -->
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white"> Url </span></div>
                           <div class="col-md-8"><a target="_blank"  href="{{ x.serp_url}}" class="badge badge-success text-white" style="text-decoration: none;;"><i class="fa fa-eye text-white"></i> view</a></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Serp Title </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{ x.serp_title|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Serp Domain </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{ x.serp_domain|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Serp Visible Link </span></div>
                           <div class="col-md-8"><a target="_blank"  href="{{x.serp_visible_link}}" class="badge badge-success text-white" style="text-decoration: none;;"><i class="fa fa-eye text-white"></i> view</a></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Screenshot </span></div>
                           <div class="col-md-8"><img src="{{x.screenshot }}" class="img-fluid img-thumbnail" alt=""></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Meta Title </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.meta_title|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Status </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{ x.status}}</span></div>
                        </div>
                       
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">IP Address </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.ip|default:"N/A"}}</span></div>
                        </div>
                        <div class="row">
                           <div class="col-md-4"><span class="badge badge-primary text-white">Categorization </span></div>
                           <div class="col-md-8"><span class="badge text-dark">{{x.categorization.0|default:"N/A"}}</span></div>
                        </div>
                        <!-- loop-2-end  -->
                     </div>
                     <!-- card body end   -->     
                  </div>
                  <!-- card-end  -->
                  {% else %}
                  {% endif %}
                  {% endfor %}
               </div>
               {% endfor %}
            </div>
            <!-- row end  -->
         </div>
         <!-- search engine tab ends -->


         <!-- facebook tabs starts  -->
         <div id="facebook" class="tab-pane fade in active show ">
                     <!-- row start  -->
                     <div class="row  ">

                        {% for i in resp.data %}
                        {% if forloop.counter == 1 %}
                        {% if forloop.counter == 1 %}
                        <div class="col-md-12 bg-dark text-white text-center "><h2 class="">Facebook Profiles </h2></div>
                        {% endif %}
                        {% endif %}
                        <div class="col-md-12 mt-2">
                              <!-- faceboo users block -->
                            <div class="row">
                           <!-- loop2 -->
                           {% for x in i.data.users %}
                           {% if i.site == 'facebook' %}
                           <!-- facebook usernames  -->
                       
                           
                            <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">

                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-4 d-flex  justify-content-center align-items-center">
                                            <img src="{{x.picture_url}}" class="img-fluid img-responsive" style="width:80px;height:80px;border-radius:50%;" />
                                        </div>
                                        <div class="col-md-8">
                                            <ul class="list-unstyled">
                                                {% if x.username %}
                                                <li>Name :   <a  href="{% url 'Target_Management_System:tms_marktarget_prime' x.username i.site %}"target="_blank" class="badge badge-dark  "><i class=" text-white fa fa-share mr-2"></i>{{x.username|truncatechars:"20"}}</a>
                                                    {% else %}
                                                    <a  href="{% url 'Target_Management_System:tms_marktarget_prime' x.id i.site %}"target="_blank" class="badge badge-dark  "><i class=" text-white fa fa-share mr-2"></i>{{x.id|truncatechars:"20"}}</a>
                                                    {% endif %}</li>
                                                    <li>ID : {{x.id|truncatechars:"20"}}</li>
                                                <li>Name : {{x.username|truncatechars:"20"}}</li>
                                                <li>Full Name : {{x.full_name|truncatechars:"20"}}</li>
                                                <li>Url : <a  href="{{ x.url }}"target="_blank" class="badge badge-dark  ">click</a></li>
                                                <li>Entity Type : {{x.entity_type|truncatechars:"20"}}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                        
                          <!-- facebook usernames end  -->

                           {% else %}
                           {% endif %}
                           {% endfor %}
                        </div>
                        <!-- faceboo users block -->





  <!-- faceboo page block -->
  <div class="row">
  
    <!-- loop2 -->
    {% for x in i.data.pages %}
    {% if forloop.counter == 1 %}
    <div class="col-md-12 bg-dark text-white text-center "><h2 class="">Facebook Pages </h2></div>
    {% endif %}
    {% if i.site == 'facebook' %}
    <!-- facebook usernames  -->

    
     <div class="col-md-4">
     <div class="card">
         <div class="card-header">

         </div>
         <div class="card-body">
             <div class="row">
                 <div class="col-md-4 d-flex  justify-content-center align-items-center">
                     <img src="{{x.picture_url}}" class="img-fluid img-responsive" style="width:80px;height:80px;border-radius:50%;" />
                 </div>
                 <div class="col-md-8">
                     <ul class="list-unstyled">
                         {% if x.username %}
                         <li>Name :   <a  href="{% url 'Target_Management_System:tms_marktarget_prime' x.username i.site %}"target="_blank" class="badge badge-dark  "><i class=" text-white fa fa-share mr-2"></i>{{x.username|truncatechars:"20"}}</a>
                             {% else %}
                             <a  href="{% url 'Target_Management_System:tms_marktarget_prime' x.id i.site %}"target="_blank" class="badge badge-dark  "><i class=" text-white fa fa-share mr-2"></i>{{x.id|truncatechars:"20"}}</a>
                             {% endif %}</li>
                             <li>ID : {{x.id|truncatechars:"20"}}</li>
                         <li>Name : {{x.username|truncatechars:"20"}}</li>
                         <li>Full Name : {{x.full_name|truncatechars:"20"}}</li>
                         <li>Url : <a  href="{{ x.url }}"target="_blank" class="badge badge-dark  ">click</a></li>
                         <li>Entity Type : {{x.entity_type}}</li>
                     </ul>
                 </div>
             </div>
         </div>
     </div>
   
 </div>
 
   <!-- facebook usernames end  -->

    {% else %}
    {% endif %}
    {% endfor %}
 </div>
 <!-- faceboo page block -->







                        </div>
                        {% endfor %}
                     </div>
                     <!-- row end  -->
         </div>
         <!-- facebook tab end  -->
         <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
         </div>
         <div id="menu3" class="tab-pane fade">
            <h3>Menu 3</h3>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
         </div>
      </div>
   </div>
   <!-- end tabs  -->
</div>

{% endblock %}
{% block foot_dep %}
<!-- JavaScript -->
<script src=" {% static 'Keybase_Management_System/tagsinput.js' %}"></script>
<script defer src="{% static 'bootstrap/js/bootstrap-datepicker.min.js' %}"></script>
<script defer src="{% static 'Keybase_Management_System/js/creation.js' %}"></script>
<script></script>
{% endblock %}